SITE ALUP {
plugin org.drftpd.commands.transferstatistics
class TransferStatistics
method doSITE_ALUP
perms *
help Lists the top uploaders of all time
}

SITE ALDN {
plugin org.drftpd.commands.transferstatistics
class TransferStatistics
method doSITE_ALDN
perms *
help Lists the top downloaders of all time
}

SITE MONTHUP {
plugin org.drftpd.commands.transferstatistics
class TransferStatistics
method doSITE_MONTHUP
perms *
help Lists the top uploaders for the month
}

SITE MONTHDN {
plugin org.drftpd.commands.transferstatistics
class TransferStatistics
method doSITE_MONTHDN
perms *
help Lists the top downloaders for the month
}

SITE WKUP {
plugin org.drftpd.commands.transferstatistics
class TransferStatistics
method doSITE_WKUP
perms *
help Lists the top uploaders for the week
}

SITE WKDN {
plugin org.drftpd.commands.transferstatistics
class TransferStatistics
method doSITE_WKDN
perms *
help Lists the top downloaders for the week
}

SITE DAYUP {
plugin org.drftpd.commands.transferstatistics
class TransferStatistics
method doSITE_DAYUP
perms *
help Lists the top uploaders for the day
}

SITE DAYDN {
plugin org.drftpd.commands.transferstatistics
class TransferStatistics
method doSITE_DAYDN
perms *
help Lists the top downloaders for the day
}

SITE STATS {
plugin org.drftpd.commands.transferstatistics
class TransferStatistics
method doSITE_STATS
perms *
help Show user stats
}

SITE GALUP {
plugin org.drftpd.commands.transferstatistics
class MoreStats
method doSITE_GALUP
perms *
help Lists the top uploading of all time
}

SITE GALDN {
plugin org.drftpd.commands.transferstatistics
class MoreStats
method doSITE_GALDN
perms *
help Lists the top downloading groups of all time
}

SITE GMONTHUP {
plugin org.drftpd.commands.transferstatistics
class MoreStats
method doSITE_GMONTHUP
perms *
help Lists the top uploading groups of all time
}

SITE GMONTHDN {
plugin org.drftpd.commands.transferstatistics
class MoreStats
method doSITE_GMONTHDN
perms *
help Lists the top downloading group for the month
}

SITE GWKUP {
plugin org.drftpd.commands.transferstatistics
class MoreStats
method doSITE_GWKUP
perms *
help Lists the top uploading for the week
}

SITE GWKDN {
plugin org.drftpd.commands.transferstatistics
class MoreStats
method doSITE_GWKDN
perms *
help Lists the top downloading group for the week
}

SITE GDAYUP {
plugin org.drftpd.commands.transferstatistics
class MoreStats
method doSITE_GDAYUP
perms *
help Lists the top uploading for the day
}

SITE GDAYDN {
plugin org.drftpd.commands.transferstatistics
class MoreStats
method doSITE_GDAYDN
perms *
help Lists the top downloading group for the day
}

SITE TRAFFIC {
plugin org.drftpd.commands.transferstatistics
class MoreStats
method doSITE_TRAFFIC
perms *
help Summary of the daemon upload/download stats.
}