<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.drftpd.commands.sitemanagement" version="3.4.3">
	<doc>
		<doc-text>This plugin provides Site Management commands.  
(SITE RELOAD/SHUTDOWN/LIST/LOADPLUGIN/UNLOADPLUGIN/RELOADPLUGIN/PLUGINS)</doc-text>
	</doc>
	<attributes>
		<attribute id="DefaultBuild" value="true" />
		<attribute id="MustBuild" value="true" />
		<attribute id="DenyUnload" value="true" />
	</attributes>
	<requires>
		<import plugin-id="org.drftpd.commandmanager" exported="true" />
		<import plugin-id="org.drftpd.commands.prehook.permissions" exported="true" />
	</requires>
	<runtime>
		<library id="org.drftpd.commands.sitemanagement" path="classes/" type="code">
			<export prefix="*" />
		</library>
	</runtime>
	<extension-point id="PreHook" parent-plugin-id="org.drftpd.commandmanager" parent-point-id="CommandPreHook" />
	<extension-point id="PostHook" parent-plugin-id="org.drftpd.commandmanager" parent-point-id="CommandPostHook" />

	<extension plugin-id="org.drftpd.commandmanager" point-id="Command" id="SiteManagementHandler" />
	<extension plugin-id="org.drftpd.commands.sitemanagement" point-id="PreHook" id="doSITE_UNLOADPLUGINPerm">
		<parameter id="ParentMethod" value="doSITE_UNLOADPLUGIN" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.sitemanagement" point-id="PreHook" id="doSITE_SHUTDOWNPerm">
		<parameter id="ParentMethod" value="doSITE_SHUTDOWN" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.sitemanagement" point-id="PreHook" id="doSITE_LOADPLUGINPerm">
		<parameter id="ParentMethod" value="doSITE_LOADPLUGIN" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.sitemanagement" point-id="PreHook" id="doSITE_LISTPerm">
		<parameter id="ParentMethod" value="doSITE_LIST" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.sitemanagement" point-id="PreHook" id="doSITE_PLUGINSPerm">
		<parameter id="ParentMethod" value="doSITE_PLUGINS" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.sitemanagement" point-id="PreHook" id="doSITE_RELOADPerm">
		<parameter id="ParentMethod" value="doSITE_RELOAD" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
</plugin>
