SITE AUTONUKES {
plugin org.drftpd.autonuke.master
class AutoNukeCommands
method doSITE_AUTONUKES
perms =siteop
help Show AutoNuke queue.
help.specific ${command} [section]
}

SITE AUTONUKESCAN {
plugin org.drftpd.autonuke.master
class AutoNukeCommands
method doSITE_AUTONUKESCAN
perms =siteop
help Manual AutoNuke scan.
help.specific ${command} [path]
}

SITE DELQUEUE {
plugin org.drftpd.autonuke.master
class AutoNukeCommands
method doSITE_DELQUEUE
perms =siteop
help Delete one/all item(s) from AutoNuke queue.
help.specific ${command} [path]
}
