rescan {
plugin org.drftpd.commands.zipscript
class ZipscriptCommands
method doSITE_RESCAN
perms *
help sfv scans the files in the current directory or a specific directory requested.
help.specific ${command} [-r] [force] [delete] [quiet] [path]
help.specific     The -r option recursively scans all directories below the current directory as well.
help.specific     The noforce option makes the slave recalculate the checksums.
help.specific     The nodelete option removes bad files rather than just reporting them.
help.specific     The nodelete0byte option removes any files listed in the SFV which exist but are 0 byte.
help.specific     The quiet option only prints output for files which aren't good.
help.specific     Specifying a path will rescan the requested directory instead of the current directory.
input all
output source
}