ABOR {
plugin org.drftpd.commands.misc
class Misc
method doABOR
perms *
}

FEAT {
plugin org.drftpd.commands.misc
class Misc
method doFEAT
}

SITE STAT {
plugin org.drftpd.commands.misc
class Misc
method doSITE_STAT
perms *
help Show simple user stats
help.specific ${command}
help.specific Show simple user stats
}

SITE TIME {
plugin org.drftpd.commands.misc
class Misc
method doSITE_TIME
perms *
help Show current server time
help.specific ${command}
help.specific Show current server time
}

SITE VERS {
plugin org.drftpd.commands.misc
class Misc
method doSITE_VERS
perms *
help Show drftpd version
help.specific ${command}
help.specific Show drftpd version
}

SITE HELP {
plugin org.drftpd.commands.misc
class Misc
method doSITE_HELP
perms *
help duh! it does this dummy!
help.specific ${command} <site cmd> will display specific information on that command
nohelp ABOR,AUTH,CDUP,CLNT,CPSV,CWD,DELE,FEAT,IDNT,LIST,MDTM,MKD,MLSD,MLST,MODE,NOOP,PASS,PASV,PBSZ,PORT,PRET,PROT,PWD,QUIT,REST,RETR,RMD,RNFR,RNTO,SIZE,SSCN,STOR,SYST,TYPE,USER,XCRC
}