gpassed {
plugin org.drftpd.plugins.trialmanager
class TrialManagerCommands
method doPASSED
perms %
help Lists If Group Has Passed Trial
help.specific ${command} <Group>
input public
output source
}

gtop {
plugin org.drftpd.plugins.trialmanager
class TrialManagerCommands
method doTOP
perms *
help Lists All Users In Trial Period
help.specific ${command} <num>
input all
output source
}

