# Show status bar in dir listings [true/false]
statusbar.enabled=true

# Type of status bar, if true then status bar will appear as a directory, if false it will appear as a file [true/false]
statusbar.directory=true

# Showing missing files [true/false]
files.missing.enabled=true

# Set the following line to enable/disable id3tag info [true/false]
cwd.id3info.enabled=true

# Enable race stats [true/false]
cwd.racestats.enabled=true
stor.racestats.enabled=true

# Only allow files found in the sfv file [true/false]
sfv.restrict.files=true

# Set the following line to enable/disable file_id.diz info [true/false]
cwd.dizinfo.enabled=true

# Disallow files before sfv [true/false]
sfvfirst.required=true

# Allow files w/o extensions even if sfvfirst.required=true [true/false]
sfvfirst.allownoext=true

# Allow these file extensions even if not in an sfv file
allowedexts=nfo txt jpg diz vob m2ts mkv mp4 zip m3u

# Check paths for sfv first enforcement
sfvfirst.pathcheck=*

# Ignore paths for sfv first enforcement
sfvfirst.pathignore=/PRE/* /REQUESTS/* */Subs/ */Cover/ */Covers/

# Who has their restricted by the sfv-first system ?
#if you wanted siteop group to be exempt, put: !=siteop *
sfvfirst.users=*

# Disallows .sfv to be uploaded if subdir of (sfvdeny.subdir.include) exists [true/false]
sfvdeny.subdir=false

# List of the subdirs to include when searching to deny sfv upload (regex)
sfvdeny.subdir.include=.*(?i)(cd[1-9]|dvd[1-9]|dis(c|k)[1-9]).*

# List of sections/dirs to exclude when searching for deny sfv upload (regex)
sfvdeny.subdir.exclude=.*(?i)(SPEEDTEST|REQUESTS|STAFF|PRE|GROUPS).*

# Check integrity of .zip files on upload [true/false]
stor.zip.integrity.check.enabled=true

# Show diz text on CWD [true/false]
cwd.diz.info.enabled=true

# Enable race stats [true/false]
cwd.zip.racestats.enabled=true
stor.zip.racestats.enabled=true

# Maximum number of users/groups to include in race complete announce
irc.sfv.maxusers=10
irc.sfv.maxgroups=10

# Enable MP3 info [true/false]
cwd.mp3info.enabled=true
stor.mp3info.enabled=true

# Maximum number of users/groups to include in race complete announce
irc.zip.maxusers=10
irc.zip.maxgroups=10

# Enable Flac info [true/false]
cwd.flacinfo.enabled=true
stor.flacinfo.enabled=true
