########################
## MediaInfo Settings ##
########################

# Sections to exclude this plugin from, separate with space.
sections.exclude=PRE

# Media bar as directory(true) or file(false)?
# Default [true]
mediabar.directory=true

# Enable media bar?
# Default: [false]
mediabar.enabled=false

# Extensions to listen for on STOR, separate with space.
#
# By default this requires an external binary present, as such we do not enable this.
# Uncomment below line and remove the empty line
# extensions=avi mkv mp4
extensions=

