# @version $Id$

#show status bar in dir listings [true/false]
statusbar.enabled=true

#type of status bar, if true then status bar will appear as a directory, if false it will appear as a file
statusbar.directory=true

#showing missing files [true/false]
files.missing.enabled=true

#set the following line to enable/disable id3tag info
cwd.id3info.enabled=true

#enable race stats [true/false]
cwd.racestats.enabled=true
stor.racestats.enabled=true

#only allow files found in the sfv file [true/false]
sfv.restrict.files=true

#set the following line to enable/disable file_id.diz info
cwd.dizinfo.enabled=true

#disallow files before sfv [true/false]
sfvfirst.required=true

#allow files w/o extensions even if sfvfirst.required=true [true/false]
sfvfirst.allownoext=true

#allow these file extensions even if not in an sfv file
allowedexts=nfo txt jpg diz mpg avi mkv mp4 zip m3u

#check paths for sfv first enforcement
sfvfirst.pathcheck=*

#ignore paths for sfv first enforcement
sfvfirst.pathignore=/PRE/* /REQUESTS/* */Subs/ */Cover/ */Covers/

#who has their restricted by the sfv-first system ?
#if you wanted siteop group to be exempt, put: !=siteop *
sfvfirst.users=*

#disallows .sfv to be uploaded if subdir of (sfvdeny.subdir.include) exists
#true/false
sfvdeny.subdir=false

#list of the subdirs to include when searching to deny sfv upload (regex)
sfvdeny.subdir.include=.*(?i)(cd[1-9]|dvd[1-9]|dis(c|k)[1-9]).*

#list of sections/dirs to exclude when searching for deny sfv upload (regex)
sfvdeny.subdir.exclude=.*(?i)(SPEEDTEST|REQUESTS|STAFF|PRE|GROUPS).*
