addnote {
plugin org.drftpd.commands.usermanagement.notes
class Notes
method doSITE_ADDNOTE
perms =siteop
help Add's Note For User
help.specific ${command} <username> <note>
input all
output source
}

delnote {
plugin org.drftpd.commands.usermanagement.notes
class Notes
method doSITE_DELNOTE
perms =siteop
help Removes Note For User
help.specific ${command} <username> <noteID>
input all
output source
}