<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.drftpd.plugins.sitebot.announce.ext" version="3.2.0">
	<doc>
		<doc-text>(Sitebot) - This plugin provides announcements for configured file extensions for Sitebot</doc-text>
	</doc>
	<requires>
		<import plugin-id="org.drftpd.plugins.sitebot" />
	</requires>
	<runtime>
		<library id="org.drftpd.plugins.sitebot.announce.ext" path="classes/" type="code" />
	</runtime>
	<extension plugin-id="org.drftpd.plugins.sitebot" point-id="Announce" id="ExtAnnounce">
		<parameter id="Class" value="org.drftpd.plugins.sitebot.announce.ext.ExtAnnouncer" />
	</extension>
</plugin>