<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.drftpd.commands.find.imdb" version="3.4.3">
	<doc>
		<doc-text>This plugin provides IMDB metadata query options for find.</doc-text>
	</doc>
	<requires>
		<import plugin-id="org.drftpd.commands.find" exported="true" />
        <import plugin-id="org.drftpd.commands.imdb" exported="false" />
		<import plugin-id="org.drftpd.vfs.index.lucene.extensions.imdb" exported="true" />
	</requires>
	<runtime>
		<library id="org.drftpd.commands.find.imdb" path="classes/" type="code">
			<export prefix="*" />
		</library>
	</runtime>

	<!-- Options -->
	<extension plugin-id="org.drftpd.commands.find" point-id="Option" id="IMDBTitleOption">
		<parameter id="ClassName" value="org.drftpd.commands.find.imdb.IMDBOption"/>
		<parameter id="OptionName" value="IMDBTitle"/>
	</extension>
	<extension plugin-id="org.drftpd.commands.find" point-id="Option" id="IMDBDirectorOption">
		<parameter id="ClassName" value="org.drftpd.commands.find.imdb.IMDBOption"/>
		<parameter id="OptionName" value="IMDBDirector"/>
	</extension>
	<extension plugin-id="org.drftpd.commands.find" point-id="Option" id="IMDBGenresOption">
		<parameter id="ClassName" value="org.drftpd.commands.find.imdb.IMDBOption"/>
		<parameter id="OptionName" value="IMDBGenres"/>
	</extension>
	<extension plugin-id="org.drftpd.commands.find" point-id="Option" id="IMDBVotesOption">
		<parameter id="ClassName" value="org.drftpd.commands.find.imdb.IMDBOption"/>
		<parameter id="OptionName" value="IMDBVotes"/>
	</extension>
	<extension plugin-id="org.drftpd.commands.find" point-id="Option" id="IMDBRatingOption">
		<parameter id="ClassName" value="org.drftpd.commands.find.imdb.IMDBOption"/>
		<parameter id="OptionName" value="IMDBRating"/>
	</extension>
	<extension plugin-id="org.drftpd.commands.find" point-id="Option" id="IMDBYearOption">
		<parameter id="ClassName" value="org.drftpd.commands.find.imdb.IMDBOption"/>
		<parameter id="OptionName" value="IMDBYear"/>
	</extension>
	<extension plugin-id="org.drftpd.commands.find" point-id="Option" id="IMDBRuntimeOption">
		<parameter id="ClassName" value="org.drftpd.commands.find.imdb.IMDBOption"/>
		<parameter id="OptionName" value="IMDBRuntime"/>
	</extension>
	<!-- End Options -->

    <!-- Actions -->
    <extension plugin-id="org.drftpd.commands.find" point-id="Action" id="IMDBAction">
        <parameter id="ClassName" value="org.drftpd.commands.find.imdb.IMDBAction"/>
        <parameter id="ActionName" value="PrintIMDB"/>
    </extension>
    <!-- End Actions -->
</plugin>
