# times are represented in minutes
# 10080 = 1 week
# 43200 = 1 month

# where to archive releases
# true = to the slave with the most free space
# false = to the slave with the most files of the release
archiveToFreeSlave=true

# smallest number of time in between cycles
cycleTime=30

# do not archive releases younger than
archiveAfter=10080