# do not remove any entries, it can result
# in NullPointerException's

#######################
### Master settings ###
#######################

#This is the IP of the master to register to.
master.bindname=slavemanager
#Port to accept Slave connections on
master.bindport=1099

#Port to accept FTP connections on
master.port=2121

#Run a slave in the same process as the master?
master.localslave=false

#User manager to use, just leave it for now.
master.usermanager=net.sf.drftpd.master.usermanager.jsx.JSXUserManager

# Minimum amount of available diskspace in bytes to have on a slave when
# sending to it. If all available slaves have less than this amount the
# slave with most available disk space will get all transfers.
#100 MiB, 100,000,000
freespace.min=100MB

#use ident on user lookups
use.ident=true

#plugin settings
#JobManager is required for Mirror and/or Archive

#plugins.1=net.sf.drftpd.event.irc.IRCListener
#plugins.2=net.sf.drftpd.event.listeners.Trial
#plugins.3=net.sf.drftpd.event.listeners.PreTime
#plugins.4=net.sf.drftpd.mirroring.JobManager
#plugins.5=net.sf.drftpd.event.listeners.Mirror
#plugins.6=net.sf.drftpd.event.listeners.Archive

