# do not remove any entries, it can result
# in NullPointerException's

######################
### Slave settings ###
######################

#What you set <name>drftpd</name> to in slaves.xml
slave.name=drftpd

#root to serve contents from, is automatically created
slave.root.1=site
#you can use several roots for striping files across
#several harddrives without using RAID or similair.
#slave.root.2=d:/

####################################
### Shared master/slave settings ###
####################################

#This is the IP of the master to register to.
master.host=you_didnt_edit_drftpd.conf
master.bindname=slavemanager
master.bindport=1099

#######################
### Master settings ###
#######################

#Port to accept FTP connections on
master.port=2121

#Run a slave in the same process as the master?
master.localslave=false

#User manager to use, just leave it for now.
master.usermanager=net.sf.drftpd.master.usermanager.jsx.JSXUserManager

# Mimum amount of available diskspace in bytes to have on a slave when
# sending to it. If all available slaves have less than this amount the
# slave with most available disk space will get all transfers.
#100 MiB, 100,000,000
freespace.min=100MB


#sitebot settings
irc.enabled=false
irc.server=irc.hemmet.chalmers.se
irc.port=6667
irc.channel=#drftpd
irc.key=
irc.nick=drftpd
irc.name=drftpd
irc.user=drftpd
