#######################
### Master settings ###
#######################

#Port to accept Slave connections on
master.bindport=1099

#Port to accept FTP connections on
master.port=2121

#Run a slave in the same process as the master?
# [ true | false ]
master.localslave=false

#User manager to use.
#XStream is default for >=1.1, but JSX is still supported for <1.1 users
master.usermanager=net.sf.drftpd.master.usermanager.xstream.XStreamUserManager
#master.usermanager=net.sf.drftpd.master.usermanager.jsx.JSXUserManager

#Slave manager to use, just leave it for now.
master.slavemanager=net.sf.drftpd.master.SlaveManager

#loaded plugins must use in sequential numbering
#plugins.1=org.drftpd.plugins.SiteBotSSL
#plugins.2=net.sf.drftpd.event.listeners.Trial
#plugins.3=net.sf.drftpd.event.listeners.PreTime
#plugins.4=net.sf.drftpd.event.listeners.Archive

slaveselection=org.drftpd.slaveselection.filter.SlaveSelectionManager
sectionmanager=org.drftpd.sections.def.SectionManager

#hide ips in logs?
hideips=false
