
upload			*	*
download		*	*

makedir			*	*

deleteown		*	*
delete			*	=siteop

renameown		*	*
rename			*	=siteop

#allows pre in /pre/* to group siteop
#pre				/pre/*	=siteop
privpath /pre/*	=siteop


#this includes "nodirlog" functionality
#this behaviour will be changed in the next release
hideinwho /pre/*	*


#creditloss <multiplier> <path> <permissions>
#creditcheck <path> <ratio> [<-user|=group|flag> ...]


#msgpath <path> <filename> <flag/=group/-user>
#msgpath /incoming/ ftp-data/incoming.txt

