<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<!-- $Id$ -->
<plugin id="org.drftpd.commands.prehook.denydownload" version="3.0.0">
	<requires>
		<import plugin-id="org.drftpd.commands.dataconnection" />
	</requires>
	<runtime>
		<library id="org.drftpd.commands.prehook.denydownload" path="build/classes/" type="code">
			<export prefix="*" />
		</library>
	</runtime>
	<extension plugin-id="org.drftpd.commands.dataconnection" point-id="PreHook" id="DenyDownload">
		<parameter id="ParentMethod" value="doRETR" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.DenyDownload" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
</plugin>
