LIST {
plugin org.drftpd.commands.list
class ListHandler
method doLIST
perms *
# Set slavenames to true if you want to replace group with slaves file exist on
slavenames false
}

STAT {
plugin org.drftpd.commands.list
class ListHandler
method doSTAT
perms *
# Set slavenames to true if you want to replace group with slaves file exist on
slavenames false
}

MLST {
plugin org.drftpd.commands.list
class ListHandler
method doMLST
perms *
}

MLSD {
plugin org.drftpd.commands.list
class ListHandler
method doMLSD
perms *
}