# WARNING! #
# These settings are only used if you are using this SectionManager:
# org.drftpd.sections.conf

# If this directive's value is true DrFTPd will automatically
# create the section dirs, if needed of cource.
make.section.dirs=true

1.path=/APPS
1.name=APPS
1.color=15

2.type=dated
2.path=/MP3
2.name=MP3
2.dated=MMdd
2.now=-today
2.color=10
