################################################################################
#   These are Regex Implementations of user permissions on the site 
#
#   makedirex   - Create Directory Permission
#   uploadex    - Upload Permission
#   downloadex  - Download Permission
#   deleteex    - Delete Permission
#   deleteownex - Delete Own Permission
#   renameex    - Rename Permission
#   renameownex - Rename Own Permission
#   privpathex  - Private Path Permission
#
#	Examples:
#
#	makedirex ^/SECTION1/.*(sectionkeyword1|sectionkeyword2).*$ !*
#	uploadex ^.*(sitekeyword1|sitekeyword2).*$ !*
#
################################################################################

# Allow only ASCII characters on MKD/STOR/RNTO
makedirex [^\p{ASCII}] !*
uploadex [^\p{ASCII}] !*
renameex [^\p{ASCII}] !*
renameownex [^\p{ASCII}] !*