<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.drftpd.commands.find.flac" version="3.4.3">
	<doc>
		<doc-text>This plugin provides flac metadata query options for find.</doc-text>
	</doc>
	<requires>
		<import plugin-id="org.drftpd.commands.find" exported="true" />
		<import plugin-id="org.drftpd.vfs.index.lucene.extensions.flac" exported="true" />
	</requires>
	<runtime>
		<library id="org.drftpd.commands.find.flac" path="classes/" type="code">
			<export prefix="*" />
		</library>
	</runtime>

	<!-- Options -->
	<extension plugin-id="org.drftpd.commands.find" point-id="Option" id="FlacGenreOption">
		<parameter id="ClassName" value="org.drftpd.commands.find.flac.FlacOption"/>
		<parameter id="OptionName" value="FlacGenre"/>
	</extension>
	<extension plugin-id="org.drftpd.commands.find" point-id="Option" id="FlacTitleOption">
		<parameter id="ClassName" value="org.drftpd.commands.find.flac.FlacOption"/>
		<parameter id="OptionName" value="FlacTitle"/>
	</extension>
	<extension plugin-id="org.drftpd.commands.find" point-id="Option" id="FlacArtistOption">
		<parameter id="ClassName" value="org.drftpd.commands.find.flac.FlacOption"/>
		<parameter id="OptionName" value="FlacArtist"/>
	</extension>
	<extension plugin-id="org.drftpd.commands.find" point-id="Option" id="FlacAlbumOption">
		<parameter id="ClassName" value="org.drftpd.commands.find.flac.FlacOption"/>
		<parameter id="OptionName" value="FlacAlbum"/>
	</extension>
	<extension plugin-id="org.drftpd.commands.find" point-id="Option" id="FlacYearOption">
		<parameter id="ClassName" value="org.drftpd.commands.find.flac.FlacOption"/>
		<parameter id="OptionName" value="FlacYear"/>
	</extension>
	<!-- End Options -->
</plugin>
