#############################
## Auto FreeSpace Settings ##
####################################################################################################

# Times are represented in minutes.
# 10080 = 1 week
# 43200 = 1 month

# Smallest number of time in between cycles.
# Default: [10080]
cycleTime=10080

# Do not delete files with this following names (regex).
#excluded.file.1=.*speedtest.*

# Exclude these slaves from autowipe (space separated).
#excluded.slaves=SLAVE1

# Only announce, no delete.
# Default: [true]
announce.only=true

# On which mode should autofreespace work
# Possible options: disabled, date, space
# disabled: Do nothing (plugin disabled)
# date: Delete files based on wipeAfter per section
# space: Delete files based on keepFree
mode=disabled

# AutoFreeSpace will try to keep each slave above this number (Only used if mode = space)
# Default: [100GB]
keepFree=100GB

# Do not delete releases younger than X minutes (wipeAfter only used if mode = date)
1.section=SECTION
1.wipeAfter=43200

