#############################
## Auto FreeSpace Settings ##
####################################################################################################

# Smallest number of time in between cycles.
# Times are represented in minutes.
#
# 1440 = 1 day
# 10080 = 1 week
# 43200 = 1 month
#
# Default: [1440]
cycleTime=1440

# Do not delete files with this following names (regex).
#excluded.file.1=.*speedtest.*

# Exclude these slaves from autowipe (space separated).
#excluded.slaves=SLAVE1

# Only announce, no delete.
# Default: [true]
announce.only=true

# Max iterations for any single mode run per slave per cycle
# Default: [5]
max.iterations=5

# On which mode should autofreespace work.
# Possible options: disabled, date, space
# disabled: Do nothing (plugin disabled)
# date: Delete files based on wipeAfter per section
# space: Delete files based on keepFree
# Default: [disabled]
mode=disabled

# AutoFreeSpace will try to keep each slave above this number (Only used if mode = space).
# Default: [100GB]
keepFree=100GB

# Do not delete releases younger than X minutes (wipeAfter only used if mode = date).
#1.section=SECTION1
#1.path=/MP3/*
#1.wipeAfter=43200

