SITE REQUEST {
plugin org.drftpd.commands.request
class Request
method doSITE_REQUEST
perms =request
help Add a request
help.specific ${command} <nameofrequest>
}

SITE REQFILLED {
plugin org.drftpd.commands.request
class Request
method doSITE_REQFILLED
perms *
help Fill a request
help.specific ${command} <nameofrequest>
}

SITE REQUESTS {
plugin org.drftpd.commands.request
class Request
method doSITE_REQUESTS
perms *
help List unfilled requests
help.specific ${command}
}

SITE REQDEL {
plugin org.drftpd.commands.request
class Request
method doSITE_REQDELETE
perms =request
help Deletes a request
help.specific ${command} <nameofrequest>

# you can only delete your own without deleteOthers
request.deleteOthers =siteop
}