SITE REQUEST {
plugin org.drftpd.commands.request
class Request
method doSITE_REQUEST
perms *
help Add a request
help.specific ${command} <nameofrequest>
}

SITE REQFILLED {
plugin org.drftpd.commands.request
class Request
method doSITE_REQFILLED
perms *
help Fill a request
help.specific ${command} <nameofrequest>
}

SITE REQUESTS {
plugin org.drftpd.commands.request
class Request
method doSITE_REQUESTS
perms *
request.dirpath /requests
help List unfilled requests
help.specific ${command}
}

SITE REQDELETE {
plugin org.drftpd.commands.request
class Request
method doSITE_REQDELETE
perms *
help Deletes a request
help.specific ${command} <nameofrequest>
}