# $Id$
addip {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_ADDIP
perms =gadmin =siteop
help Add a new mask to a user
help.specific ${command} <username> <ident@ip>
input all
output source
}

adduser {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_ADDUSER
perms =gadmin =siteop
help Add a new user
help.specific ${command} <user> <password> [<ident@ip#1> ...]
input all
output source
}

change {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_CHANGE
perms =gadmin =siteop
help Change parameters for a user
help.specific ${command} <username> <field> <value>
help.specific Valid fields: group, created, ratio, idle_time, credits, tagline
help.specific num_logins # [opt perIP], comment, group_ratio #min #max
help.specific group_slots # [opt leech slots], wkly_allotment, max_sim #dn #up
input all
output source
}

chgrp {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_CHGRP
perms =siteop
help Change secondary groups for a user
help.specific ${command} <user> <group> [<group> ...]
input all
output source
}

chpass {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_CHPASS
perms =gadmin =siteop
help Change password for a user
help.specific ${command} <user> <password>
input all
output source
}

delip {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_DELIP
perms =gadmin =siteop
help Remove a mask from a user
help.specific ${command} <user> <ident@ip> ...
input all
output source
}

deluser {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_DELUSER
perms =gadmin =siteop
help Delete a user
help.specific ${command} <user> [reason]
input all
output source
}

gadduser {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_GADDUSER
perms =siteop
help Add a new user to the specified group
help.specific ${command} <group> <user> <password> [<ident@ip#1 ..]
input all
output source
}

ginfo {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_GINFO
perms =gadmin =siteop
help Show information on a group
help.specific ${command} <group>
input all
output source
}

give {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_GIVE
perms =siteop
help Give a user credits
help.specific ${command} <user> <bytes>
input all
output source
}

group {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_GROUP
perms =siteop
help Change parameters for a group
help.specific ${command} <group> <field> <value>
help.specific Valid fields: ratio, num_logins # [opt perIP], max_sim #dn #up
input all
output source
}

groups {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_GROUPS
perms =siteop
help Lists the groups on the site
input all
output source
}

grpren {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_GRPREN
perms =siteop
help Rename a group
help.specific ${command} <oldgroup> <newgroup>
input all
output source
}

kick {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_KICK
perms =siteop
help Kick a users current connections to the site
help.specific ${command} <user> [message]
input all
output source
}

kickall {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_KICKALL
perms =siteop
help Kick all users current connections to the site
help.specific ${command} [message]
input all
output source
}

purge {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_PURGE
perms =gadmin =siteop
help Permanently remove a user from the site
help.specific ${command} <username>
input all
output source
}

delpurge {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_DELPURGE
perms =gadmin =siteop
help Permanently remove a user from the site
help.specific ${command} <username>
input all
output source
}

readd {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_READD
perms =gadmin =siteop
help Readd a deleted user
help.specific ${command} <user>
input all
output source
}

renuser {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_RENUSER
perms =siteop
help Rename a user
help.specific ${command} <old_username> <new_username>
input all
output source
}

seen {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_SEEN
perms *
help Show when a user last connected
help.specific ${command} <user>
input all
output source
}

tagline {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_TAGLINE
perms *
help Change your tagline
help.specific ${command} <tagline>
input all
output source
}

swap {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_SWAP
perms =siteop
help Swap Credits Between Users
help.specific ${command} <srcuser> <destuser> <bytes>
input all
output source
}

take {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_TAKE
perms =siteop
help Remove credits from a user
help.specific ${command} <user> <bytes>
input all
output source
}

user {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_USER
perms =siteop
help Show details for a user
help.specific ${command} <user>
input all
output source
}

users {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_USERS
perms =siteop
help List all usernames added to the site
input all
output source
}

ban {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_BAN
perms =ban =siteop
help Ban a user from logging onto the site for a specified amount of time.
help.specific ${command} <user> <minutes> [reason]
input all
output source
}

banall {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_BANALL
perms =ban =siteop
help Ban all users from logging onto the site for a specified amount of time.
help.specific ${command} <minutes> [reason]
input all
output source
}

unban {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_UNBAN
perms =ban =siteop
help Removes a ban for the specified user.
help.specific ${command} <user>
input all
output source
}

unbanall {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_UNBANALL
perms =ban =siteop
help Removes ban from all users.
help.specific ${command}
input all
output source
}

bans {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_BANS
perms =ban =siteop
help List the current users banned on the site.
input all
output source
}
