log4j.logger.org.drftpd.commands.imdb=WARN, imdb
log4j.additivity.org.drftpd.commands.imdb=false

log4j.appender.imdb=org.apache.log4j.FileAppender
log4j.appender.imdb.File=logs/imdb.log
log4j.appender.imdb.layout=org.apache.log4j.PatternLayout
log4j.appender.imdb.layout.ConversionPattern=%p %d{ISO8601} - [%t] - %m%n