# $Id$
SITE FIND {
plugin org.drftpd.commands.find
class Find
method doFIND
perms *
limit.default 50
limit.max 100
sendToSlaves =siteop
deleteFromSlaves =siteop
wipe =siteop
nuke =siteop =nuke
help Searches for files and directories in the filesystem w/ some neat filters and actions.
help.specific ${command} <options> <actions>
help.specific Options: -user <user> | -group <group> | -f[ile] | -d[ir] | -section <section>
help.specific Options: -slaves <slave[ slave ..]> | -age <start date>:<end date>
help.specific Options: -0byte | -size <min size>:<max size> | -nbrofslaves <min>:<max>
help.specific Options: -sort "<field> <asc|desc>" | -random | -quiet | -limit <number>
help.specific Options: -regex <pattern> | -exact <name> | -name <word[ word ..]> | -endswith <name>
help.specific Actions: -print | -printf <format[ format ..]> | -wipe | -delete
help.specific Actions: -nuke <multiplier> [reason] | -unnuke [reason]
help.specific Action: -sendtoslaves <numtransfers> [slave[,slave,..]] [priority]
help.specific Action: -deletefromslaves <slave[ slave ..]>
help.specific All options/actions with multiple or space in arguments must be enclosed with "
help.specific Valid date format: yyyy.MM.dd OR yyyy.MM.dd.HH.mm.ss, Example: 2010.01.29.08.36.33
help.specific For range options min or max can be left empty
help.specific Valid sort fields: parentPath fullPath(default) owner group type nbrOfSlaves lastModified size
help.specific Regex option matches against full path.
help.specific Exact option makes a wildcard query against exact file/dir name.
help.specific Wildcards(* and ?) available but not within the first three chars.
help.specific Options for printf format:
help.specific #f - name
help.specific #p - path
help.specific #h - parent path
help.specific #H - parent name
help.specific #s - size
help.specific #u - user
help.specific #g - group
help.specific #x - slave
help.specific #t - last modified
help.specific Example: SITE FIND -printf "filename: #f size: #s"
help.specific Multiple options/actions are allowed. If multiple options are given a file/dir must match all options.
}

SITE SEARCH {
plugin org.drftpd.commands.find
class Search
method doSEARCH
perms *
limit 50
# Search for: d = directories & f = files (comment to search for all)
type d
# Only match exact file/dir-name (true/false)
exact false
help Searches for files and directories using wildcards.
help.specific ${command} <word> [word ..]
}

SITE DUPE {
plugin org.drftpd.commands.find
class Search
method doSEARCH
perms *
limit 50
# Search for: d = directories & f = files (comment to search for all)
type f
# Only match exact file/dir-name (true/false)
exact true
help Searches for files and directories using exact name match.
help.specific ${command} <name>
}