<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.drftpd.commands.prehook.permissions" version="3.4.3">
	<doc>
		<doc-text>(Required) - This is the Permissions interface to set permissions for the FTP.</doc-text>
	</doc>
	<attributes>
		<attribute id="DefaultBuild" value="true" />
		<attribute id="MustBuild" value="true" />
	</attributes>
	<requires>
		<import plugin-id="org.drftpd.commandmanager" exported="true" />
	</requires>
	<runtime>
		<library id="org.drftpd.commands.prehook.permissions" path="classes/" type="code">
			<export prefix="*" />
		</library>
	</runtime>
</plugin>