nuke {
plugin org.drftpd.commands.nuke
class Nuke
method doSITE_NUKE
perms =nuke =siteop
search true
help Nuke a directory.
help.specific ${command} <directory> <multiplier> <message>
input all
output source
}

unnuke {
plugin org.drftpd.commands.nuke
class Nuke
method doSITE_UNNUKE
perms =nuke =siteop
search true
help Unnuke a directory.
help.specific ${command} <directory>
input all
output source
}

nukes {
plugin org.drftpd.commands.nuke
class Nuke
method doSITE_NUKES
perms *
help List all nuked directories.
help.specific ${command} [section]
input all
output source
}

nukesclean {
plugin org.drftpd.commands.nuke
class Nuke
method doSITE_NUKESCLEAN
perms =nuke =siteop
help Clear nukelog of all invalid nukes.
help.specific ${command}
input all
output source
}