<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<!-- $Id$ -->
<plugin id="org.drftpd.plugins.sitebot.announce.zipscript.mp3" version="2.1.0">
	<doc>
		<doc-text>This plugin provides IRC announcements concerning MP3 uploads. Information such as
bitrate, runtime and information from the ID3 tag are available for announcements. The standard sitebot
plugin as well as the MP3 zipscript plugins are required by this plugin.</doc-text>
	</doc>
	<requires>
		<import plugin-id="org.drftpd.commands.zipscript.mp3" />
		<import plugin-id="org.drftpd.plugins.sitebot" />
	</requires>
	<runtime>
		<library id="org.drftpd.plugins.sitebot.announce.zipscript.mp3" path="build/classes/" type="code">
		</library>
	</runtime>
	<extension plugin-id="org.drftpd.plugins.sitebot" point-id="Announce" id="MP3Announce">
		<parameter id="class" value="org.drftpd.plugins.sitebot.announce.zipscript.mp3.MP3Announcer" />
	</extension>
</plugin>