<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.drftpd.commands.transferstatistics" version="3.4.3">
	<doc>
		<doc-text>This plugin provides User/Group Transfer Statistic commands.  
(SITE STATS/TRAFFIC/ALUP/ALDN/MONTHUP/MONTHDN/WKUP/WKDN/DAYUP/DAYDN/GALUP/GALDN/GMONTHUP/GMONTHDN/GWKUP/GWKDN/GDAYUP/GDAYDN)</doc-text>
	</doc>
	<attributes>
		<attribute id="DefaultBuild" value="true" />
	</attributes>
	<requires>
		<import plugin-id="org.drftpd.commandmanager" exported="true" />
		<import plugin-id="org.drftpd.commands.prehook.permissions" exported="true" />
	</requires>
	<runtime>
		<library id="org.drftpd.commands.transferstatistics" path="classes/" type="code">
			<export prefix="*" />
		</library>
	</runtime>

	<extension-point id="PreHook" parent-plugin-id="org.drftpd.commandmanager" parent-point-id="CommandPreHook" />
	<extension-point id="PostHook" parent-plugin-id="org.drftpd.commandmanager" parent-point-id="CommandPostHook" />

	<extension plugin-id="org.drftpd.commandmanager" point-id="Command" id="TransferStatisticsHandler" />
	<extension plugin-id="org.drftpd.commands.transferstatistics" point-id="PreHook" id="doSITE_MONTHDNPerm">
		<parameter id="ParentMethod" value="doSITE_MONTHDN" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.transferstatistics" point-id="PreHook" id="doSITE_WKDNPerm">
		<parameter id="ParentMethod" value="doSITE_WKDN" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.transferstatistics" point-id="PreHook" id="doSITE_DAYDNPerm">
		<parameter id="ParentMethod" value="doSITE_DAYDN" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.transferstatistics" point-id="PreHook" id="doSITE_DAYUPPerm">
		<parameter id="ParentMethod" value="doSITE_DAYUP" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.transferstatistics" point-id="PreHook" id="doSITE_ALUPPerm">
		<parameter id="ParentMethod" value="doSITE_ALUP" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.transferstatistics" point-id="PreHook" id="doSITE_STATSPerm">
		<parameter id="ParentMethod" value="doSITE_STATS" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.transferstatistics" point-id="PreHook" id="doSITE_WKUPPerm">
		<parameter id="ParentMethod" value="doSITE_WKUP" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.transferstatistics" point-id="PreHook" id="doSITE_ALDNPerm">
		<parameter id="ParentMethod" value="doSITE_ALDN" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.transferstatistics" point-id="PreHook" id="doSITE_MONTHUPPerm">
		<parameter id="ParentMethod" value="doSITE_MONTHUP" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.transferstatistics" point-id="PreHook" id="doSITE_GMONTHDNPerm">
		<parameter id="ParentMethod" value="doSITE_GMONTHDN" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.transferstatistics" point-id="PreHook" id="doSITE_GMONTHUPPerm">
		<parameter id="ParentMethod" value="doSITE_GMONTHUP" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.transferstatistics" point-id="PreHook" id="doSITE_GWKDNPerm">
		<parameter id="ParentMethod" value="doSITE_GWKDN" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.transferstatistics" point-id="PreHook" id="doSITE_GWKUPPerm">
		<parameter id="ParentMethod" value="doSITE_GWKUP" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.transferstatistics" point-id="PreHook" id="doSITE_GDAYDNPerm">
		<parameter id="ParentMethod" value="doSITE_GDAYDN" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.transferstatistics" point-id="PreHook" id="doSITE_GDAYUPPerm">
		<parameter id="ParentMethod" value="doSITE_GDAYUP" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.transferstatistics" point-id="PreHook" id="doSITE_GALDNPerm">
		<parameter id="ParentMethod" value="doSITE_GALDN" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.transferstatistics" point-id="PreHook" id="doSITE_GALUPPerm">
		<parameter id="ParentMethod" value="doSITE_GALUP" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.transferstatistics" point-id="PreHook" id="doSITE_TRAFFICPerm">
		<parameter id="ParentMethod" value="doSITE_TRAFFIC" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
</plugin>
