<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.drftpd.commands.transferstatistics" version="2.1.0">
	<attributes>
		<attribute id="DefaultBuild" value="true" />
	</attributes>
	<requires>
		<import plugin-id="org.drftpd.commandmanager" exported="true" />
		<import plugin-id="org.drftpd.commands.prehook.permissions" exported="true" />
	</requires>
	<runtime>
		<library id="org.drftpd.commands.transferstatistics" path="classes/" type="code">
			<export prefix="*" />
		</library>
	</runtime>

	<extension-point id="PostHook">
		<parameter-def id="HookClass" />
		<parameter-def id="HookMethod" />
		<parameter-def id="ParentMethod" />
		<parameter-def id="Priority" type="number" />
	</extension-point>
	<extension-point id="PreHook">
		<parameter-def id="HookClass" />
		<parameter-def id="HookMethod" />
		<parameter-def id="ParentMethod" />
		<parameter-def id="Priority" type="number" />
	</extension-point>
	<extension plugin-id="org.drftpd.commandmanager" point-id="Command" id="TransferStatisticsHandler">
	</extension>
	<extension plugin-id="org.drftpd.commands.transferstatistics" point-id="PreHook" id="doSITE_MONTHDNPerm">
		<parameter id="ParentMethod" value="doSITE_MONTHDN" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.transferstatistics" point-id="PreHook" id="doSITE_WKDNPerm">
		<parameter id="ParentMethod" value="doSITE_WKDN" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.transferstatistics" point-id="PreHook" id="doSITE_DAYDNPerm">
		<parameter id="ParentMethod" value="doSITE_DAYDN" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.transferstatistics" point-id="PreHook" id="doSITE_DAYUPPerm">
		<parameter id="ParentMethod" value="doSITE_DAYUP" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.transferstatistics" point-id="PreHook" id="doSITE_ALUPPerm">
		<parameter id="ParentMethod" value="doSITE_ALUP" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.transferstatistics" point-id="PreHook" id="doSITE_STATSPerm">
		<parameter id="ParentMethod" value="doSITE_STATS" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.transferstatistics" point-id="PreHook" id="doSITE_WKUPPerm">
		<parameter id="ParentMethod" value="doSITE_WKUP" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.transferstatistics" point-id="PreHook" id="doSITE_ALDNPerm">
		<parameter id="ParentMethod" value="doSITE_ALDN" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.transferstatistics" point-id="PreHook" id="doSITE_MONTHUPPerm">
		<parameter id="ParentMethod" value="doSITE_MONTHUP" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
</plugin>
