<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.drftpd.protocol.zipscript.mp3.common" version="3.4.3">
	<doc>
		<doc-text>(Zipscript) - This plugin provides Protocol Extensions for Zipscript (.mp3/ID3) on both the Master and Slave Side</doc-text>
	</doc>

	<attributes>
		<attribute id="DenyUnload" value="true" />
	</attributes>
	<requires>
		<import plugin-id="common" exported="true" />
	</requires>
	<runtime>
		<library id="org.drftpd.protocol.zipscript.mp3.common" path="classes/" type="code">
			<export prefix="*" />
		</library>
	</runtime>
</plugin>