<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.drftpd.protocol.zipscript.mp3.slave" version="2.1.0">
	<attributes>
		<attribute id="ProtocolName" value="ZipscriptMP3Protocol"/>
	</attributes>
	
	<requires>
		<import plugin-id="org.drftpd.protocol.zipscript.mp3.common" />
		<import plugin-id="slave" reverse-lookup="true" />
	</requires>
	<runtime>
		<library id="org.drftpd.protocol.zipscript.mp3.slave" path="classes/" type="code">
		</library>
	</runtime>
			
	<extension plugin-id="slave" point-id="Handler" id="MP3fileHandler">
		<parameter id="Name" value="mp3file" />
		<parameter id="Class" value="org.drftpd.protocol.zipscript.mp3.slave.ZipscriptMP3Handler" />
		<parameter id="Method" value="handleMP3File" />
	</extension>
</plugin>