<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.drftpd.protocol.zipscript.mp3.slave" version="3.4.3">
	<doc>
		<doc-text>(Zipscript) - This plugin provides Protocol Extensions for Zipscript (.mp3/ID3) on the Slave Side</doc-text>
	</doc>
	<attributes>
		<attribute id="ProtocolName" value="ZipscriptMP3Protocol" />
		<attribute id="ImplicitDependencies">
			<attribute id="Dependency1" value="org.drftpd.commands.zipscript.mp3" />
		</attribute>
	</attributes>
	
	<requires>
		<import plugin-id="org.drftpd.protocol.zipscript.mp3.common" />
		<import plugin-id="slave" reverse-lookup="true" />
	</requires>
	<runtime>
		<library id="org.drftpd.protocol.zipscript.mp3.slave" path="classes/" type="code" />
	</runtime>
			
	<extension plugin-id="slave" point-id="Handler" id="MP3fileHandler">
		<parameter id="Name" value="mp3file" />
		<parameter id="Class" value="org.drftpd.protocol.zipscript.mp3.slave.ZipscriptMP3Handler" />
		<parameter id="Method" value="handleMP3File" />
	</extension>
</plugin>