request {
plugin org.drftpd.commands.request
class Request
method doSITE_REQUEST
perms *
help Add a request
help.specific ${command} <nameofrequest>
input all
output source
}

requests {
plugin org.drftpd.commands.request
class Request
method doSITE_REQUESTS
perms *
help List current requests
input all
output source
}

reqfilled {
plugin org.drftpd.commands.request
class Request
method doSITE_REQFILLED
perms *
help Fill a request
help.specific ${command} <nameofrequest>
input all
output source
}

reqdel {
plugin org.drftpd.commands.request
class Request
method doSITE_REQDELETE
perms =request
help Deletes a request
help.specific ${command} <nameofrequest>
input all
output source

# you can only delete your own without deleteOthers
request.deleteOthers =siteop
}
