<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.drftpd.commands.approve" version="3.4.3">
    <attributes>
		<attribute id="DefaultBuild" value="false" />
		<attribute id="MustBuild" value="false" />
	</attributes>
	<requires>
		<import plugin-id="org.drftpd.commandmanager" exported="true" />
		<import plugin-id="org.drftpd.commands.approve.metadata" exported="true" />
		<import plugin-id="org.drftpd.plugins.sitebot" exported="true" />
	</requires>
	<runtime>
		<library id="org.drftpd.commands.approve" path="classes/" type="code">
			<export prefix="*" />
		</library>
	</runtime>

	<extension-point id="PreHook" parent-plugin-id="org.drftpd.commandmanager" parent-point-id="CommandPreHook" />
	<extension-point id="PostHook" parent-plugin-id="org.drftpd.commandmanager" parent-point-id="CommandPostHook" />

    <extension plugin-id="org.drftpd.commandmanager" point-id="Command" id="ApproveHandler" />
	
	<extension plugin-id="org.drftpd.commands.approve" point-id="PreHook" id="doSITE_APPROVEPerm">
		<parameter id="ParentMethod" value="doSITE_APPROVE" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	
	<extension plugin-id="org.drftpd.commands.approve" point-id="PreHook" id="doSITE_REMAPPROVEPerm">
		<parameter id="ParentMethod" value="doSITE_REMAPPROVE" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>

</plugin>
