<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.drftpd.master.plugins.sitebot.announce.mediainfo" version="3.4.2">
	<doc>
		<doc-text>(Sitebot) - This plugin provides mediainfo announcements for Sitebot</doc-text>
	</doc>
	<attributes>
		<attribute id="DefaultBuild" value="false" />
		<attribute id="MustBuild" value="false" />
	</attributes>
	<requires>
		<import plugin-id="org.drftpd.master.plugins.sitebot" exported="true" />
		<import plugin-id="org.drftpd.master.plugins.mediainfo" exported="true" />
	</requires>
	<runtime>
		<library id="org.drftpd.master.plugins.sitebot.announce.mediainfo" path="classes/" type="code">
			<export prefix="*" />
		</library>
	</runtime>
	
	<extension plugin-id="org.drftpd.master.plugins.sitebot" point-id="Announce" id="MediaInfoAnnounce">
		<parameter id="Class" value="org.drftpd.master.plugins.sitebot.announce.mediainfo.MediaInfoAnnouncer" />
	</extension>
</plugin>
