################################################################################
#   Group Top
#
#   x.type=grouptop
#
#   These attributes are for the Group Top Type:
#
#   x.list = Default number of users to list in !top/!cut (Default = 10)
#   x.keep = Maximum users to keep in this period (Default = 10)
#   x.min = Minimum amount in GB that user has to pass (Optional)
#   x.percent = Dynamic quota, adds % amount of top uploader to quota (Optional, value is number. eg. 5 for 5%)
#
################################################################################
