<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.drftpd.commandmanager" version="3.4.3">
	<doc>
		<doc-text>(Required) - This plugin provides the Command Manager Interface.  
It allows other plugins to create commands within the FTPD</doc-text>  
	</doc>
	<attributes>
		<attribute id="DenyUnload" value="true" />
		<attribute id="DefaultBuild" value="true" />
		<attribute id="MustBuild" value="true" />
	</attributes>
	<requires>
		<import plugin-id="master" exported="true" />
	</requires>
	<runtime>
		<library id="org.drftpd.commandmanager" path="classes/" type="code">
			<export prefix="*" />
		</library>
	</runtime>
	<extension-point id="Command" />
	<extension-point id="CommandPreHook" extension-multiplicity="none" >
		<parameter-def id="HookClass" type="string" />
		<parameter-def id="HookMethod" type="string" />
		<parameter-def id="ParentMethod" type="string" />
		<parameter-def id="Priority" type="number" />
	</extension-point>
	<extension-point id="CommandPostHook" extension-multiplicity="none" >
		<parameter-def id="HookClass" type="string" />
		<parameter-def id="HookMethod" type="string" />
		<parameter-def id="ParentMethod" type="string" />
		<parameter-def id="Priority" type="number" />
	</extension-point>
	<extension plugin-id="master" point-id="CommandManager" id="StandardCommandManager">
		<parameter id="Class" value="org.drftpd.commandmanager.StandardCommandManager" />
	</extension>
</plugin>