# times are represented in minutes
# 10080 = 1 week
# 43200 = 1 month

# amount of time between checking site for releases to archive
cycleTime=30

# do not archive releases under these sections
#exclude.1=sectiona
#exclude.2=sectionb


# ArchiveTypes define the definition of "Archived"
# do not archive releases younger than archiveAfter
#section1.archiveType=MoveReleaseToMostFreeSlave
#section2.archiveType=FinishReleaseOnSlave
#section3.archiveType=MoveReleaseToSpecificSlave
#section3.slavename=fleegy
#section3.archiveAfter=43200
#section2.archiveType=OtherNonImplementedArchiveType

# If section.archiveType is not defined for a section the default
# will be used, the same holds true for section.archiveAfter
default.archiveType=FinishReleaseOnSlave
default.archiveAfter=10080
