# times are represented in minutes
# 10080 = 1 week
# 43200 = 1 month

# amount of time between checking site for releases to archive
cycleTime=30

# do not archive releases younger than
archiveAfter=10080

# do not archive releases under these sections
#exclude.1=sectiona
#exclude.2=sectionb


# ArchiveTypes define the definition of "Archived"
#section1.archiveType=MoveReleaseToMostFreeSlave
#section2.archiveType=OtherNonImplementedArchiveType

# If section.archiveType is not defined for each section
# the default will be used
default.archiveType=MoveReleaseToMostFreeSlave
