AUTH=org.drftpd.commands.DataConnectionHandler
CPSV=org.drftpd.commands.DataConnectionHandler
PROT=org.drftpd.commands.DataConnectionHandler
PBSZ=org.drftpd.commands.DataConnectionHandler
MODE=org.drftpd.commands.DataConnectionHandler
PASV=org.drftpd.commands.DataConnectionHandler
PORT=org.drftpd.commands.DataConnectionHandler
PRET=org.drftpd.commands.DataConnectionHandler
SSCN=org.drftpd.commands.DataConnectionHandler
STRU=org.drftpd.commands.DataConnectionHandler
SYST=org.drftpd.commands.DataConnectionHandler
TYPE=org.drftpd.commands.DataConnectionHandler
RETR=org.drftpd.commands.DataConnectionHandler
REST=org.drftpd.commands.DataConnectionHandler
SITE\ RESCAN=org.drftpd.commands.DataConnectionHandler
SITE\ XDUPE=org.drftpd.commands.DataConnectionHandler
STOR=org.drftpd.commands.DataConnectionHandler
EPSV=org.drftpd.commands.DataConnectionHandler
EPRT=org.drftpd.commands.DataConnectionHandler

IDNT=org.drftpd.commands.Login
USER=org.drftpd.commands.Login
PASS=org.drftpd.commands.Login
QUIT=org.drftpd.commands.Login

CDUP=org.drftpd.commands.Dir
CWD=org.drftpd.commands.Dir
MKD=org.drftpd.commands.Dir
PWD=org.drftpd.commands.Dir
RMD=org.drftpd.commands.Dir
RNFR=org.drftpd.commands.Dir
RNTO=org.drftpd.commands.Dir
DELE=org.drftpd.commands.Dir
SITE\ WIPE=org.drftpd.commands.Dir
SITE\ CHOWN=org.drftpd.commands.Dir
#collides with SITE CHGRP defined by UserManagement
#SITE\ CHGRP=org.drftpd.commands.Dir
SITE\ LINK=org.drftpd.commands.Dir

LIST=org.drftpd.commands.LIST
NLST=org.drftpd.commands.LIST
STAT=org.drftpd.commands.LIST

#SITE\ NUKE=org.drftpd.commands.Nuke
#SITE\ NUKES=org.drftpd.commands.Nuke
#SITE\ UNNUKE=org.drftpd.commands.Nuke

SITE\ ADDIP=org.drftpd.commands.UserManagement
SITE\ ADDUSER=org.drftpd.commands.UserManagement
SITE\ CHANGE=org.drftpd.commands.UserManagement
SITE\ CHGRP=org.drftpd.commands.UserManagement
SITE\ CHPASS=org.drftpd.commands.UserManagement
SITE\ DEBUG=org.drftpd.commands.UserManagement
SITE\ DELIP=org.drftpd.commands.UserManagement
SITE\ DELUSER=org.drftpd.commands.UserManagement
SITE\ GADDUSER=org.drftpd.commands.UserManagement
SITE\ GINFO=org.drftpd.commands.UserManagement
SITE\ GIVE=org.drftpd.commands.UserManagement
SITE\ GROUP=org.drftpd.commands.UserManagement
SITE\ GROUPS=org.drftpd.commands.UserManagement
SITE\ GRPREN=org.drftpd.commands.UserManagement
SITE\ KICK=org.drftpd.commands.UserManagement
SITE\ PASSWD=org.drftpd.commands.UserManagement
SITE\ PURGE=org.drftpd.commands.UserManagement
SITE\ READD=org.drftpd.commands.UserManagement
SITE\ RENUSER=org.drftpd.commands.UserManagement
SITE\ SEEN=org.drftpd.commands.UserManagement
SITE\ TAGLINE=org.drftpd.commands.UserManagement
SITE\ TAKE=org.drftpd.commands.UserManagement
SITE\ USER=org.drftpd.commands.UserManagement
SITE\ USERS=org.drftpd.commands.UserManagement
SITE\ WHO=org.drftpd.commands.UserManagement
SITE\ SWHO=org.drftpd.commands.UserManagement
SITE\ BAN=org.drftpd.commands.UserManagement
SITE\ UNBAN=org.drftpd.commands.UserManagement
SITE\ BANS=org.drftpd.commands.UserManagement

SITE\ RELOAD=org.drftpd.commands.SiteManagement
SITE\ SHUTDOWN=org.drftpd.commands.SiteManagement
SITE\ LIST=org.drftpd.commands.SiteManagement
SITE\ LOADPLUGIN=org.drftpd.commands.SiteManagement
SITE\ UNLOADPLUGIN=org.drftpd.commands.SiteManagement
SITE\ PLUGINS=org.drftpd.commands.SiteManagement

XCRC=org.drftpd.commands.Dir
DELE=org.drftpd.commands.Dir
MDTM=org.drftpd.commands.Dir
SIZE=org.drftpd.commands.Dir

SITE\ RULES=org.drftpd.commands.Textoutput
SITE\ WELCOME=org.drftpd.commands.Textoutput

CLNT=org.drftpd.commands.Dummy
NOOP=org.drftpd.commands.Dummy

ABOR=org.drftpd.commands.Misc
FEAT=org.drftpd.commands.Misc
SITE\ STAT=org.drftpd.commands.Misc
SITE\ TIME=org.drftpd.commands.Misc
SITE\ VERS=org.drftpd.commands.Misc
SITE\ HELP=org.drftpd.commands.Misc

#SITE\ DUPE=org.drftpd.commands.Search
#SITE\ SEARCH=org.drftpd.commands.Search

MLST=org.drftpd.commands.MLST
MLSD=org.drftpd.commands.MLST

SITE\ REQUEST=org.drftpd.commands.Request
SITE\ REQFILLED=org.drftpd.commands.Request

SITE\ ALUP=org.drftpd.commands.TransferStatistics
SITE\ ALDN=org.drftpd.commands.TransferStatistics
SITE\ MONTHUP=org.drftpd.commands.TransferStatistics
SITE\ MONTHDN=org.drftpd.commands.TransferStatistics
SITE\ WKUP=org.drftpd.commands.TransferStatistics
SITE\ WKDN=org.drftpd.commands.TransferStatistics
SITE\ DAYUP=org.drftpd.commands.TransferStatistics
SITE\ DAYDN=org.drftpd.commands.TransferStatistics
SITE\ STATS=org.drftpd.commands.TransferStatistics

#SITE\ PRE=org.drftpd.commands.Pre

SITE\ SLAVES=org.drftpd.commands.SlaveManagement
SITE\ REMERGE=org.drftpd.commands.SlaveManagement
SITE\ KICKSLAVE=org.drftpd.commands.SlaveManagement
SITE\ SLAVE=org.drftpd.commands.SlaveManagement
SITE\ ADDSLAVE=org.drftpd.commands.SlaveManagement
SITE\ DELSLAVE=org.drftpd.commands.SlaveManagement
SITE\ SLAVESELECT=org.drftpd.commands.SlaveManagement

SITE\ INVITE=org.drftpd.commands.Invite

SITE\ LISTJOBS=org.drftpd.jobmanager.JobManagerCommandHandler
SITE\ STARTJOBS=org.drftpd.jobmanager.JobManagerCommandHandler
SITE\ STOPJOBS=org.drftpd.jobmanager.JobManagerCommandHandler
SITE\ ADDJOB=org.drftpd.jobmanager.JobManagerCommandHandler
SITE\ REMOVEJOB=org.drftpd.jobmanager.JobManagerCommandHandler

#SITE\ IRC=org.drftpd.commands.SiteBotManagement
#SITE\ BLOWFISH=org.drftpd.commands.SiteBotManagement

SITE\ SECTIONS=org.drftpd.commands.Sections

#SITE\ NEW=org.drftpd.commands.New

#SITE\ ARCHIVE=org.drftpd.commands.ArchiveCommandHandler
#SITE\ LISTARCHIVETYPES=org.drftpd.commands.ArchiveCommandHandler

#SITE\ FIND=org.drftpd.commands.Find

#SITE\ TRAFFIC=org.drftpd.commands.MoreStats
#SITE\ GALUP=org.drftpd.commands.MoreStats
#SITE\ GALDN=org.drftpd.commands.MoreStats
#SITE\ GWKUP=org.drftpd.commands.MoreStats
#SITE\ GWKDN=org.drftpd.commands.MoreStats
#SITE\ GMONTHUP=org.drftpd.commands.MoreStats
#SITE\ GMONTHDN=org.drftpd.commands.MoreStats
#SITE\ GDAYUP=org.drftpd.commands.MoreStats
#SITE\ GDAYDN=org.drftpd.commands.MoreStats
