AUTH=net.sf.drftpd.master.command.plugins.DataConnectionHandler
PROT=net.sf.drftpd.master.command.plugins.DataConnectionHandler
PBSZ=net.sf.drftpd.master.command.plugins.DataConnectionHandler
MODE=net.sf.drftpd.master.command.plugins.DataConnectionHandler
PASV=net.sf.drftpd.master.command.plugins.DataConnectionHandler
PORT=net.sf.drftpd.master.command.plugins.DataConnectionHandler
PRET=net.sf.drftpd.master.command.plugins.DataConnectionHandler
STRU=net.sf.drftpd.master.command.plugins.DataConnectionHandler
SYST=net.sf.drftpd.master.command.plugins.DataConnectionHandler
TYPE=net.sf.drftpd.master.command.plugins.DataConnectionHandler
RETR=net.sf.drftpd.master.command.plugins.DataConnectionHandler
REST=net.sf.drftpd.master.command.plugins.DataConnectionHandler
SITE\ RESCAN=net.sf.drftpd.master.command.plugins.DataConnectionHandler
SITE\ XDUPE=net.sf.drftpd.master.command.plugins.DataConnectionHandler
STOR=net.sf.drftpd.master.command.plugins.DataConnectionHandler
#EPSV=net.sf.drftpd.master.command.plugins.DataConnectionHandler
#EPRT=net.sf.drftpd.master.command.plugins.DataConnectionHandler

IDNT=net.sf.drftpd.master.command.plugins.Login
USER=net.sf.drftpd.master.command.plugins.Login
PASS=net.sf.drftpd.master.command.plugins.Login
QUIT=net.sf.drftpd.master.command.plugins.Login

CDUP=net.sf.drftpd.master.command.plugins.Dir
CWD=net.sf.drftpd.master.command.plugins.Dir
MKD=net.sf.drftpd.master.command.plugins.Dir
PWD=net.sf.drftpd.master.command.plugins.Dir
RMD=net.sf.drftpd.master.command.plugins.Dir
RNFR=net.sf.drftpd.master.command.plugins.Dir
RNTO=net.sf.drftpd.master.command.plugins.Dir
SITE\ WIPE=net.sf.drftpd.master.command.plugins.Dir
SITE\ CHOWN=net.sf.drftpd.master.command.plugins.Dir
#collides with SITE CHGRP defined by UserManagement
#SITE\ CHGRP=net.sf.drftpd.master.command.plugins.Dir
SITE\ LINK=net.sf.drftpd.master.command.plugins.Dir

LIST=net.sf.drftpd.master.command.plugins.LIST
NLST=net.sf.drftpd.master.command.plugins.LIST
STAT=net.sf.drftpd.master.command.plugins.LIST

SITE\ NUKE=org.drftpd.commands.Nuke
SITE\ NUKES=org.drftpd.commands.Nuke
SITE\ UNNUKE=org.drftpd.commands.Nuke

SITE\ ADDIP=org.drftpd.commands.UserManagement
SITE\ ADDUSER=org.drftpd.commands.UserManagement
SITE\ CHANGE=org.drftpd.commands.UserManagement
SITE\ CHGRP=org.drftpd.commands.UserManagement
SITE\ CHPASS=org.drftpd.commands.UserManagement
SITE\ DEBUG=org.drftpd.commands.UserManagement
SITE\ DELIP=org.drftpd.commands.UserManagement
SITE\ DELUSER=org.drftpd.commands.UserManagement
SITE\ GADDUSER=org.drftpd.commands.UserManagement
SITE\ GINFO=org.drftpd.commands.UserManagement
SITE\ GIVE=org.drftpd.commands.UserManagement
SITE\ GROUPS=org.drftpd.commands.UserManagement
SITE\ GRPREN=org.drftpd.commands.UserManagement
SITE\ KICK=org.drftpd.commands.UserManagement
SITE\ PASSWD=org.drftpd.commands.UserManagement
SITE\ PURGE=org.drftpd.commands.UserManagement
SITE\ READD=org.drftpd.commands.UserManagement
SITE\ RENUSER=org.drftpd.commands.UserManagement
SITE\ SEEN=org.drftpd.commands.UserManagement
SITE\ TAGLINE=org.drftpd.commands.UserManagement
SITE\ TAKE=org.drftpd.commands.UserManagement
SITE\ USER=org.drftpd.commands.UserManagement
SITE\ USERS=org.drftpd.commands.UserManagement
SITE\ WHO=org.drftpd.commands.UserManagement

SITE\ RELOAD=net.sf.drftpd.master.command.plugins.SiteManagement
SITE\ SHUTDOWN=net.sf.drftpd.master.command.plugins.SiteManagement
SITE\ LIST=net.sf.drftpd.master.command.plugins.SiteManagement
SITE\ LOADPLUGIN=net.sf.drftpd.master.command.plugins.SiteManagement
SITE\ UNLOADPLUGIN=net.sf.drftpd.master.command.plugins.SiteManagement
SITE\ PLUGINS=net.sf.drftpd.master.command.plugins.SiteManagement

XCRC=net.sf.drftpd.master.command.plugins.Dir
DELE=net.sf.drftpd.master.command.plugins.Dir
MDTM=net.sf.drftpd.master.command.plugins.Dir
SIZE=net.sf.drftpd.master.command.plugins.Dir

SITE\ RULES=net.sf.drftpd.master.command.plugins.Textoutput
SITE\ WELCOME=net.sf.drftpd.master.command.plugins.Textoutput

CLNT=net.sf.drftpd.master.command.plugins.Dummy
NOOP=net.sf.drftpd.master.command.plugins.Dummy

ABOR=net.sf.drftpd.master.command.plugins.Misc
FEAT=net.sf.drftpd.master.command.plugins.Misc
SITE\ STAT=net.sf.drftpd.master.command.plugins.Misc
SITE\ TIME=net.sf.drftpd.master.command.plugins.Misc
SITE\ VERS=net.sf.drftpd.master.command.plugins.Misc
SITE\ HELP=net.sf.drftpd.master.command.plugins.Misc

SITE\ DUPE=net.sf.drftpd.master.command.plugins.Search
SITE\ SEARCH=net.sf.drftpd.master.command.plugins.Search

MLST=org.drftpd.commands.MLST
MLSD=org.drftpd.commands.MLST

SITE\ REQUEST=org.drftpd.commands.Request
SITE\ REQFILLED=org.drftpd.commands.Request

SITE\ ALUP=org.drftpd.commands.TransferStatistics
SITE\ ALDN=org.drftpd.commands.TransferStatistics
SITE\ MONTHUP=org.drftpd.commands.TransferStatistics
SITE\ MONTHDN=org.drftpd.commands.TransferStatistics
SITE\ WKUP=org.drftpd.commands.TransferStatistics
SITE\ WKDN=org.drftpd.commands.TransferStatistics
SITE\ DAYUP=org.drftpd.commands.TransferStatistics
SITE\ DAYDN=org.drftpd.commands.TransferStatistics
SITE\ STATS=org.drftpd.commands.TransferStatistics

SITE\ PRE=org.drftpd.commands.Pre

SITE\ SLAVES=net.sf.drftpd.master.command.plugins.SlaveManagement
SITE\ REMERGE=net.sf.drftpd.master.command.plugins.SlaveManagement
SITE\ CHECKSLAVES=net.sf.drftpd.master.command.plugins.SlaveManagement
SITE\ KICKSLAVE=net.sf.drftpd.master.command.plugins.SlaveManagement
SITE\ SLAVE=net.sf.drftpd.master.command.plugins.SlaveManagement
SITE\ ADDSLAVE=net.sf.drftpd.master.command.plugins.SlaveManagement
SITE\ DELSLAVE=net.sf.drftpd.master.command.plugins.SlaveManagement

SITE\ INVITE=net.sf.drftpd.master.command.plugins.Invite

SITE\ LISTJOBS=net.sf.drftpd.mirroring.JobManagerCommandHandler
SITE\ STARTJOBS=net.sf.drftpd.mirroring.JobManagerCommandHandler
SITE\ STOPJOBS=net.sf.drftpd.mirroring.JobManagerCommandHandler
SITE\ ADDJOB=net.sf.drftpd.mirroring.JobManagerCommandHandler
SITE\ REMOVEJOB=net.sf.drftpd.mirroring.JobManagerCommandHandler

SITE\ IRC=org.drftpd.commands.SiteBotManagment

SITE\ SECTIONS=org.drftpd.commands.Sections

SITE\ NEW=org.drftpd.commands.New

#SITE\ ARCHIVE=org.drftpd.commands.ArchiveCommandHandler
#SITE\ LISTARCHIVETYPES=org.drftpd.commands.ArchiveCommandHandler

SITE\ FIND=org.drftpd.commands.Find

SITE\ TRAFFIC=org.drftpd.commands.MoreStats
SITE\ GALUP=org.drftpd.commands.MoreStats
SITE\ GALDN=org.drftpd.commands.MoreStats
SITE\ GWKUP=org.drftpd.commands.MoreStats
SITE\ GWKDN=org.drftpd.commands.MoreStats
