AUTH {
plugin org.drftpd.commands.dataconnection
class DataConnectionHandler
method doAUTH
perms *
}

CPSV {
plugin org.drftpd.commands.dataconnection
class DataConnectionHandler
method doPASVandCPSV
perms *
}

PROT {
plugin org.drftpd.commands.dataconnection
class DataConnectionHandler
method doPROT
perms *
}

PBSZ {
plugin org.drftpd.commands.dataconnection
class DataConnectionHandler
method doPBSZ
perms *
}

MODE {
plugin org.drftpd.commands.dataconnection
class DataConnectionHandler
method doMODE
perms *
}

PASV {
plugin org.drftpd.commands.dataconnection
class DataConnectionHandler
method doPASVandCPSV
perms *
}

PORT {
plugin org.drftpd.commands.dataconnection
class DataConnectionHandler
method doPORT
perms *
}

PRET {
plugin org.drftpd.commands.dataconnection
class DataConnectionHandler
method doPRET
perms *
}

SSCN {
plugin org.drftpd.commands.dataconnection
class DataConnectionHandler
method doSSCN
perms *
}


#STRU=org.drftpd.commands.dataconnection.DataConnectionHandler.doSTRU

SYST {
plugin org.drftpd.commands.dataconnection
class DataConnectionHandler
method doSYST
perms *
}

TYPE {
plugin org.drftpd.commands.dataconnection
class DataConnectionHandler
method doTYPE
perms *
}

RETR {
plugin org.drftpd.commands.dataconnection
class DataConnectionHandler
method transfer
perms *
}

REST {
plugin org.drftpd.commands.dataconnection
class DataConnectionHandler
method doREST
perms *
}

#SITE\ RESCAN=org.drftpd.commands.DataConnectionHandler

SITE\ XUPE {
plugin org.drftpd.commands.dataconnection
class DataConnectionHandler
method doSITE_XUPE
perms *
}

STOR {
plugin org.drftpd.commands.dataconnection
class DataConnectionHandler
method transfer
perms *
}

#EPSV=org.drftpd.commands.DataConnectionHandler
#EPRT=org.drftpd.commands.DataConnectionHandler

IDNT {
plugin org.drftpd.commands.login
class LoginHandler
method doIDNT
perms *
}

USER {
plugin org.drftpd.commands.login
class LoginHandler
method doUSER
perms *
}

PASS {
plugin org.drftpd.commands.login
class LoginHandler
method doPASS
perms *
}

QUIT {
plugin org.drftpd.commands.login
class LoginHandler
method doQUIT
perms *
}

LIST {
plugin org.drftpd.commands.list
class LIST
method doLIST
perms *
}

CDUP {
plugin org.drftpd.commands.dir
class Dir
method doCDUP
perms *
}

CWD {
plugin org.drftpd.commands.dir
class Dir
method doCWD
perms *
}

MKD {
plugin org.drftpd.commands.dir
class Dir
method doMKD
perms *
}

PWD {
plugin org.drftpd.commands.dir
class Dir
method doPWD
perms *
}

RMD {
plugin org.drftpd.commands.dir
class Dir
method doRMD
perms *
}

RNFR {
plugin org.drftpd.commands.dir
class Dir
method doRNFR
perms *
}

RNTO {
plugin org.drftpd.commands.dir
class Dir
method doRNTO
perms *
}

DELE {
plugin org.drftpd.commands.dir
class Dir
method doDELE
perms *
}

SITE\ WIPE {
plugin org.drftpd.commands.dir
class Dir
method doSITE_WIPE
perms =wipe
}

SITE\ CHOWN {
plugin org.drftpd.commands.dir
class Dir
method doSITE_CHOWN
perms =siteop
}

#collides with SITE CHGRP defined by UserManagement
#SITE\ CHGRP=org.drftpd.commands.Dir

SITE\ LINK  {
plugin org.drftpd.commands.dir
class Dir
method doSITE_LINK
perms =siteop
}

XCRC {
plugin org.drftpd.commands.dir
class Dir
method doXCRC
perms *
}

MDTM {
plugin org.drftpd.commands.dir
class Dir
method doMDTM
perms *
}

SIZE {
plugin org.drftpd.commands.dir
class Dir
method doSIZE
perms *
}

SITE\ SLAVES {
plugin org.drftpd.commands.slavemanagement
class SlaveManagement
method doSITE_SLAVES
perms *
}

SITE\ REMERGE {
plugin org.drftpd.commands.slavemanagement
class SlaveManagement
method doSITE_REMERGE
perms =siteop
}

SITE\ KICKSLAVE {
plugin org.drftpd.commands.slavemanagement
class SlaveManagement
method doSITE_KICKSLAVE
perms =siteop
}

SITE\ SLAVE {
plugin org.drftpd.commands.slavemanagement
class SlaveManagement
method doSITE_SLAVE
perms *
}

SITE\ ADDSLAVE {
plugin org.drftpd.commands.slavemanagement
class SlaveManagement
method doSITE_ADDSLAVE
perms =siteop
}

SITE\ DELSLAVE {
plugin org.drftpd.commands.slavemanagement
class SlaveManagement
method doSITE_DELSLAVE
perms =siteop
}

SITE\ SLAVESELECT {
plugin org.drftpd.commands.slavemanagement
class SlaveManagement
method doSITE_SLAVESELECT
perms *
}

SITE\ RELOAD {
plugin org.drftpd.commands.sitemanagement
class SiteManagementHandler
method doSITE_RELOAD
perms =siteop
}

SITE\ SHUTDOWN {
plugin org.drftpd.commands.sitemanagement
class SiteManagementHandler
method doSITE_SHUTDOWN
perms =siteop
}

SITE LIST {
plugin org.drftpd.commands.sitemanagement
class SiteManagementHandler
method doSITE_LIST
perms *
}

SITE\ LOADPLUGIN {
plugin org.drftpd.commands.sitemanagement
class SiteManagementHandler
method doSITE_LOADPLUGIN
perms =siteop
}

SITE\ UNLOADPLUGIN {
plugin org.drftpd.commands.sitemanagement
class SiteManagementHandler
method doSITE_UNLOADPLUGIN
perms -siteop
}

SITE\ PLUGINS {
plugin org.drftpd.commands.sitemanagement
class SiteManagementHandler
method doSITE_PLUGINS
perms =siteop
}

ABOR {
plugin org.drftpd.commands.misc
class Misc
method doABOR
perms *
}

FEAT {
plugin org.drftpd.commands.misc
class Misc
method doFEAT
perms *
}

SITE\ STAT {
plugin org.drftpd.commands.misc
class Misc
method doSITE_STAT
perms *
}
SITE\ TIME {
plugin org.drftpd.commands.misc
class Misc
method doSITE_TIME
perms *
}

SITE\ VERS {
plugin org.drftpd.commands.misc
class Misc
method doSITE_VERS
perms *
}

SITE\ HELP {
plugin org.drftpd.commands.misc
class Misc
method doSITE_HELP
perms *
}