irc.server=irc.csbnet.se
irc.port=6667
# use SSL for irc.server
# [ true | false ]
irc.ssl=false

# channels to autojoin on successful connection
# to irc.server
irc.channel.1=#drftpd-test
irc.channel.blowkey.1=drftpd
irc.channel.perms.1=*
#irc.channel.2=#drftpd-test2
#irc.channel.blowkey.2=drftpd2
#irc.channel.perms.2=!=iND *

# general format:
# irc.nick!irc.user@ipaddress.would.be.here irc.name
# is returned by /who or /whois

# actual nickname on irc.server
irc.nick=drftpd
irc.name=drftpd
# username -- irc.user@your.ipaddress.shows.here
irc.user=drftpd

# Announce directories and races 
# (based on irc.section.x settings below)
# [true | false ]
irc.enable.announce=true
# maximum number of racers to announce on COMPLETE
irc.max.racers=10
# maximum number of groups to announce on COMPLETE
irc.max.groups=10

# Sets the time in milliseconds we wait after each command is sent.
# The best protection you can set to avoid flood disconnects
irc.sendDelay=300

##Send different sections to different channels.
#irc.section.1=CHAN1
#irc.section.1.channel=#drftpd-test
#irc.section.2=CHAN2
#irc.section.2.channel=#drftpd-test2

# Plugins ...
martyr.plugins.1=org.drftpd.sitebot.OnConnect

