# FORMAT: trigger method where users
#   TRIGGER: Text that will trigger the command on irc (i.e. !who)
#    -- triggers have to be unique but can map to a method as many
#       times as they want! they are not one-to-one for you math majors
#   METHOD: path of Method to execute when trigger is seen
#   WHERE: flags representing where the trigger is allowed
#        Valid Flags: channel (any channel the sitebot is in)
#                     private (allowed in /query)
#                     #drftpd (allowed in #drftpd)
#   USERS: userlist, same format as perms.conf (i.e. !=user =group !*)
#
# Example: !who org.drftpd.sitebot.Who.doWho public,private *
# Means: !who in any channel, or in a privmsg to the bot
#        will execute org.drftpd.sitebot.Who.doWho


!who org.drftpd.sitebot.Who.doWho public *
!leechers org.drftpd.sitebot.Who.doLeechers public *
!idlers org.drftpd.sitebot.Who.doIdlers public *
!uploaders org.drftpd.sitebot.Who.doUploaders public *
!slave org.drftpd.sitebot.Slaves.doSlave public *
!slaves org.drftpd.sitebot.Slaves.doSlaves public *
!bw org.drftpd.sitebot.Bandwidth.doBandwidth public *
!speed org.drftpd.sitebot.Bandwidth.doSpeed public *
!df org.drftpd.sitebot.Diskfree.doDiskfree public *
!passed org.drftpd.sitebot.Trials.doPassed public *
!invite org.drftpd.sitebot.Invite.doInvite private *
!ident org.drftpd.sitebot.Ident.doIdent private *
!bnc org.drftpd.sitebot.GenericTextOutput.doText public *
!affils org.drftpd.sitebot.GenericTextOutput.doText public *

!alup org.drftpd.sitebot.Stats.doALUP public *
!aldn org.drftpd.sitebot.Stats.doALDN public *
!monthup org.drftpd.sitebot.Stats.doMONTHUP public *
!monthdn org.drftpd.sitebot.Stats.doMONTHDN public *
!wkup org.drftpd.sitebot.Stats.doWKUP public *
!wkdn org.drftpd.sitebot.Stats.doWKDN public *
!dayup org.drftpd.sitebot.Stats.doDAYUP public *
!daydn org.drftpd.sitebot.Stats.doDAYDN public *

!imdb net.drmods.plugins.irc.imdb.IRCListener.doImdb public *
!credits net.drmods.plugins.irc.Credits.doCredits public *
!approve net.drmods.plugins.irc.Approve.doApprove public =siteop
!kick net.drmods.plugins.irc.Kick.doKick public =siteop
!request net.drmods.plugins.irc.Request.doRequest public =siteop
!requests net.drmods.plugins.irc.Request.doRequests public *
!reqfilled net.drmods.plugins.irc.Request.doReqfilled public *
!reqdel net.drmods.plugins.irc.Request.doReqdel public *
!nuke net.drmods.plugins.irc.IRCNuke.doNuke public =nuke
!unnuke net.drmods.plugins.irc.IRCNuke.doUnnuke public =nuke
!nukes net.drmods.plugins.irc.IRCNuke.doNukes public =nuke
!rank net.drmods.plugins.irc.Rank.doRank public *
!find net.drmods.plugins.irc.Find.doFind public *
!new net.drmods.plugins.irc.New.doNew public *
