#allow 10 conections per slave if you have 10 slaves
max_users	100	0

upload			*	*
download		*	*

makedir			*	*

deleteown		*	*
delete			*	=siteop

renameown		*	*
rename			*	=siteop

#allows pre in /pre/* to group siteop
#pre				/pre/*	=siteop
privpath /pre/*	=siteop


hideinwho /pre/*	*


#creditcheck <path> <ratio> <flag/=group/-user>
#creditloss <path> <ratio> <flag/=group/-user>


#msgpath <path> <filename> <flag/=group/-user>
#msgpath /incoming/ ftp-data/incoming.txt

dirlog		*	*
