#show status bar in dir listings [true/false]
statusbar.enabled=true

#showing offline files [true/fase]
files.offline.enabled=true

#showing missing files [true/false]
files.missing.enabled=true

#set the following line to enable/disable id3tag info
cwd.id3info.enabled=true

#enable race stats [true/false]
cwd.racestats.enabled=true
