#show status bar in dir listings [true/false]
statusbar.enabled=true

#showing offline files [true/fase]
files.offline.enabled=true

#showing missing files [true/false]
files.missing.enabled=true

#set the following line to enable/disable id3tag info
cwd.id3info.enabled=true

#enable race stats [true/false]
cwd.racestats.enabled=true

#only allow files found in the sfv file [true/false]
sfv.restrict.files=true

#allow multiple sfv files in one dir [true/false]
allow.multi.sfv=false