<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.drftpd.commands.zipscript" version="3.4.3">
	<doc>
		<doc-text>(Zipscript) - This plugin provides sfv checks for new uploads, as well as the SITE RESCAN command</doc-text>
	</doc>
	<requires>
		<import plugin-id="org.drftpd.protocol.zipscript.master" exported="true" />
		<import plugin-id="org.drftpd.commandmanager" exported="true" />
		<import plugin-id="org.drftpd.commands.dataconnection" exported="true" />
		<import plugin-id="org.drftpd.commands.dir" exported="true" />
		<import plugin-id="org.drftpd.commands.list" exported="true" />
		<import plugin-id="org.drftpd.commands.prehook.permissions" exported="true" />
	</requires>
	<runtime>
		<library id="org.drftpd.commands.zipscript" path="classes/" type="code">
			<export prefix="*" />
		</library>
	</runtime>
	<extension-point id="PreHook" parent-plugin-id="org.drftpd.commandmanager" parent-point-id="CommandPreHook" />
	<extension-point id="PostHook" parent-plugin-id="org.drftpd.commandmanager" parent-point-id="CommandPostHook" />
	<extension-point id="RescanPostProcessDir">
		<parameter-def id="Class" type="string" />
	</extension-point>
	<extension-point id="ListStatusBarProvider">
		<parameter-def id="Class" type="string" />
	</extension-point>

	<extension plugin-id="org.drftpd.commands.dataconnection" point-id="PreHook" id="ZipscriptSTORPreCheck">
		<parameter id="ParentMethod" value="doSTOR" />
		<parameter id="HookClass" value="org.drftpd.commands.zipscript.hooks.ZipscriptPreHook" />
		<parameter id="HookMethod" value="doZipscriptSTORPreCheck" />
		<parameter id="Priority" value="10" />
	</extension>
	<extension plugin-id="org.drftpd.commands.dataconnection" point-id="PostHook" id="ZipscriptRETRPostCheck">
		<parameter id="ParentMethod" value="doRETR" />
		<parameter id="HookClass" value="org.drftpd.commands.zipscript.hooks.ZipscriptPostHook" />
		<parameter id="HookMethod" value="doZipscriptRETRPostCheck" />
		<parameter id="Priority" value="10" />
	</extension>
	<extension plugin-id="org.drftpd.commands.dataconnection" point-id="PostHook" id="ZipscriptSTORPostCheck">
		<parameter id="ParentMethod" value="doSTOR" />
		<parameter id="HookClass" value="org.drftpd.commands.zipscript.hooks.ZipscriptPostHook" />
		<parameter id="HookMethod" value="doZipscriptSTORPostCheck" />
		<parameter id="Priority" value="10" />
	</extension>
	<extension plugin-id="org.drftpd.commands.dir" point-id="PostHook" id="ZipscriptCWDStats">
		<parameter id="ParentMethod" value="doCWD" />
		<parameter id="HookClass" value="org.drftpd.commands.zipscript.hooks.ZipscriptPostHook" />
		<parameter id="HookMethod" value="doZipscriptCWDStatsHook" />
		<parameter id="Priority" value="10" />
	</extension>
	<extension plugin-id="org.drftpd.commands.dir" point-id="PostHook" id="ZipscriptDELECleanup">
		<parameter id="ParentMethod" value="doDELE" />
		<parameter id="HookClass" value="org.drftpd.commands.zipscript.hooks.ZipscriptPostHook" />
		<parameter id="HookMethod" value="doZipscriptDELECleanupHook" />
		<parameter id="Priority" value="10" />
	</extension>
	<extension plugin-id="org.drftpd.commands.dataconnection" point-id="PostHook" id="ZipscriptSTORStats">
		<parameter id="ParentMethod" value="doSTOR" />
		<parameter id="HookClass" value="org.drftpd.commands.zipscript.hooks.ZipscriptPostHook" />
		<parameter id="HookMethod" value="doZipscriptSTORStatsHook" />
		<parameter id="Priority" value="11" />
	</extension>
	<extension plugin-id="org.drftpd.commands.list" point-id="AddElements" id="ZipscriptListElements">
		<parameter id="Class" value="org.drftpd.commands.zipscript.list.ZipscriptList" />
	</extension>
	
	<extension plugin-id="org.drftpd.commandmanager" point-id="Command" id="ZipscriptCommandsHandler" />
	
	<extension plugin-id="org.drftpd.commands.zipscript" point-id="PreHook" id="doSITE_RESCANPerm">
		<parameter id="ParentMethod" value="doSITE_RESCAN" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
</plugin>
