SITE NUKE {
plugin org.drftpd.commands.nuke
class Nuke
method doSITE_NUKE
perms =nuke =siteop
search false
help Nuke a directory.
help.specific ${command} <directory> <multiplier> <message>
}

SITE UNNUKE {
plugin org.drftpd.commands.nuke
class Nuke
method doSITE_UNNUKE
perms =nuke =siteop
search false
help Unnuke a directory.
help.specific ${command} <directory>
}

SITE NUKES {
plugin org.drftpd.commands.nuke
class Nuke
method doSITE_NUKES
perms *
help List all nuked directories.
help.specific ${command} [section]
}

SITE NUKESCLEAN {
plugin org.drftpd.commands.nuke
class Nuke
method doSITE_NUKESCLEAN
perms =nuke =siteop
help Clear nukelog of all invalid nukes.
help.specific ${command}
}
