<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.drftpd.commands.request" version="3.4.3">
	<doc>
		<doc-text>This plugin provides Request capability.  
(SITE REQUEST/REQFILLED/REQDELETE/REQUESTS) - 
This also has a WeekMax per user/group setting built in.</doc-text>
	</doc>
	<requires>
		<import plugin-id="master" exported="true" reverse-lookup="true" />
		<import plugin-id="org.drftpd.commandmanager" exported="true" />
		<import plugin-id="org.drftpd.commands.prehook.permissions" exported="true" />
		<import plugin-id="org.drftpd.commands.request.metadata" exported="true" />
	</requires>
	<runtime>
		<library id="org.drftpd.commands.request" path="classes/" type="code">
			<export prefix="*" />
		</library>
	</runtime>
	<extension-point id="PreHook" parent-plugin-id="org.drftpd.commandmanager" parent-point-id="CommandPreHook" />
	<extension-point id="PostHook" parent-plugin-id="org.drftpd.commandmanager" parent-point-id="CommandPostHook" />

	<extension plugin-id="org.drftpd.commandmanager" point-id="Command" id="RequestHandler" />
	<extension plugin-id="org.drftpd.commands.request" point-id="PreHook" id="doSITE_REQUESTPerm">
		<parameter id="ParentMethod" value="doSITE_REQUEST" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.request" point-id="PreHook" id="doSITE_REQFILLEDPerm">
		<parameter id="ParentMethod" value="doSITE_REQFILLED" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.request" point-id="PreHook" id="doSITE_REQDELPerm">
		<parameter id="ParentMethod" value="doSITE_REQDELETE" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.request" point-id="PreHook" id="doSITE_REQUESTSPerm">
		<parameter id="ParentMethod" value="doSITE_REQUESTS" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.request" point-id="PreHook" id="RequestWklyAllotmentPreCheck">
		<parameter id="ParentMethod" value="doSITE_REQUEST" />
		<parameter id="HookClass" value="org.drftpd.commands.request.RequestPreHook" />
		<parameter id="HookMethod" value="doWklyAllotmentPreCheck" />
		<parameter id="Priority" value="10" />
	</extension>
	<extension plugin-id="org.drftpd.commands.request" point-id="PostHook" id="REQUESTIncrement">
		<parameter id="ParentMethod" value="doSITE_REQUEST" />
		<parameter id="HookClass" value="org.drftpd.commands.request.RequestPostHook" />
		<parameter id="HookMethod" value="doREQUESTIncrement" />
		<parameter id="Priority" value="10" />
	</extension>
	<extension plugin-id="org.drftpd.commands.request" point-id="PostHook" id="REQFILLEDIncrement">
		<parameter id="ParentMethod" value="doSITE_REQFILLED" />
		<parameter id="HookClass" value="org.drftpd.commands.request.RequestPostHook" />
		<parameter id="HookMethod" value="doREQFILLEDIncrement" />
		<parameter id="Priority" value="10" />
	</extension>
	<extension plugin-id="org.drftpd.commands.request" point-id="PostHook" id="doWklyAllotmentDecrease">
		<parameter id="ParentMethod" value="doSITE_REQDELETE" />
		<parameter id="HookClass" value="org.drftpd.commands.request.RequestPostHook" />
		<parameter id="HookMethod" value="doWklyAllotmentDecrease" />
		<parameter id="Priority" value="10" />
	</extension>
	<extension plugin-id="master" point-id="PostUserResetHook" id="RequestResetWklyAllotment">
		<parameter id="Class" value="org.drftpd.commands.request.RequestUserResetHook"/>
	</extension>
</plugin>
