<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<!-- $Id$ -->
<plugin id="org.drftpd.commands.request" version="2.1.0">
	<requires>
		<import plugin-id="master" exported="true" reverse-lookup="true" />
		<import plugin-id="org.drftpd.commandmanager" exported="true" />
		<import plugin-id="org.drftpd.commands.prehook.permissions" exported="true" />
	</requires>
	<runtime>
		<library id="org.drftpd.commands.request" path="build/classes/" type="code">
			<export prefix="*" />
		</library>
	</runtime>
	<extension-point id="PostHook">
		<parameter-def id="HookClass" />
		<parameter-def id="HookMethod" />
		<parameter-def id="ParentMethod" />
		<parameter-def id="Priority" type="number" />
	</extension-point>
	<extension-point id="PreHook">
		<parameter-def id="HookClass" />
		<parameter-def id="HookMethod" />
		<parameter-def id="ParentMethod" />
		<parameter-def id="Priority" type="number" />
	</extension-point>
	<extension plugin-id="org.drftpd.commandmanager" point-id="Command" id="RequestHandler">
	</extension>
	<extension plugin-id="org.drftpd.commands.request" point-id="PreHook" id="doSITE_REQUESTPerm">
		<parameter id="ParentMethod" value="doSITE_REQUEST" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.request" point-id="PreHook" id="doSITE_REQFILLEDPerm">
		<parameter id="ParentMethod" value="doSITE_REQFILLED" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
</plugin>
