######################
## Archive Settings ##
####################################################################################################
#                                                                                                  #
# This Plugin allows archiving of folders to different slaves and folders.                         #
#                                                                                                  #
# cycletime = (Required) - Length between each cycle (Minutes)                                     #
#              1440 = 1 day | 10080 = 1 week | 43200 = 1 month                                     #
#                                                                                                  #
# maxConcurrentActions = (Required) - Maximum concurrent archive actions                           #
#                         10 (default)                                                             #
#                         Please note:                                                             #
#                         - We do not enforce any maximums here, but setting this too high         #
#                           might make your master slow/sluggish and/or other random strange       #
#                           behaviour could be observed                                            #
#                         - We will set this to the amount of archive configurations specified     #
#                           below + 1 (for overhead/manual actions)                                #
#                                                                                                  #
# x.type = (Required) - ArchiveTypeName                                                            #
# x.section = (Required) - Section To Archive From                                                 #
# x.archiveafter = (Optional) - Archive Releases After X minutes                                   #
# x.ignoreafter = (Optional) - Don't archive releases if older than X minutes                      #
# x.repeat = (Optional) - How many times to check Section during 1 cycle                           #
# x.scansubdirs = (Optional) - Used to scan subdirs of section instead of section dirs. (eg. MP3)  #
# x.archiveregex = (Optional) - Which folders to archive using regex                               #
# x.todirectory = (Optional) - Move directory after archive (Section name or FULL path only)       #
# x.todirectorytype = (Optional) - Type to use while moving dir (alpha/dated/rls/regex)            #
# x.priority = (Optional) - How high of a priority this ranks over other archives                  #
# x.numofslaves = (Type Specific) - How many different slaves to archive too                       #
# x.slavedeadafter = (Type Specific) - When to not try to mirror (ConstantMirror)                  #
# x.slavename.Y = (Type Specific) - Slaves to archive too                                          #
# x.offofslave.Y = (Type Specific) - Slaves to archive OFF of                                      #
#                                                                                                  #
# EXAMPLES:                                                                                        #
# This will archive everything in SECTION1 to 2 different slaves                                   #
# (slave1, slave2, or slave3) after 1 week, and if slave doesn't respond                           #
# it will remove after 1 day                                                                       #
#                                                                                                  #
# x.type=ConstantMirroring                                                                         #
# x.section=SECTION1                                                                               #
# x.archiveafter=10080                                                                             #
# x.numofslaves=2                                                                                  #
# x.priority=3                                                                                     #
# x.slavedeadafter=1440                                                                            #
# x.slavename.1=slave1                                                                             #
# x.slavename.2=slave2                                                                             #
# x.slavename.3=slave3                                                                             #
#                                                                                                  #
# This will move everything in SECTION1 to 1 slave with the least amount                           #
# of free slave after 1 month.                                                                     #
#                                                                                                  #
# x.type=MoveReleaseToMostFreeSlaves                                                               #
# x.section=SECTION1                                                                               #
# x.archiveafter=43200                                                                             #
# x.numofslaves=1                                                                                  #
# x.priority=3                                                                                     #
# x.slavename.1=slave1                                                                             #
# x.slavename.2=slave2                                                                             #
# x.slavename.3=slave3                                                                             #
#                                                                                                  #
# This will move directories with 1080i/1080p in SECTION1 off of slave1/slave2                     #
# and move them to 2 slaves with most free space after 1 month.                                    #
#                                                                                                  #
# x.type=MoveReleaseOffSlavesToMostFreeSlaves                                                      #
# x.section=SECTION1                                                                               #
# x.archiveafter=43200                                                                             #
# x.numofslaves=2                                                                                  #
# x.archiveregex=^.*(1080(p|i)).*$                                                                 #
# x.priority=3                                                                                     #
# x.offofslave.1=slave1                                                                            #
# x.offofslave.2=slave2                                                                            #
# x.slavename.1=slave3                                                                             #
# x.slavename.2=slave4                                                                             #
# x.slavename.3=slave5                                                                             #
#                                                                                                  #
# This will move directories with 1080i/1080p in SECTION1 to one                                   #
#  of the slaves listed after 1 day. It will also move the dir to SECTION2                         #
#  in a alpha dir (ie /SECTION2/A - for dirs starting with A).                                     #
#                                                                                                  #
# x.type=MoveReleaseToSpecificSlaves                                                               #
# x.section=SECTION1                                                                               #
# x.archiveafter=1440                                                                              #
# x.numofslaves=1                                                                                  #
# x.archiveregex=^.*(1080(p|i)).*$                                                                 #
# x.priority=3                                                                                     #
# x.slavename.1=slave1                                                                             #
# x.slavename.2=slave2                                                                             #
# x.todirectory=SECTION2                                                                           #
# x.todirectorytype=alpha                                                                          #
#                                                                                                  #
# This will move directories with 1080i/1080p in SECTION1 to                                       #
#  /folder2/subfolder1/MMdd after 1 day. This will also repeat                                     #
#  5 times each cycle. Since there is no slave archiving it can                                    #
#  move up to 5 directories every cycle time.                                                      #
#                                                                                                  #
# x.type=MoveReleaseToSpecificFolder                                                               #
# x.section=SECTION1                                                                               #
# x.archiveafter=1440                                                                              #
# x.archiveregex=^.*(1080(p|i)).*$                                                                 #
# x.todirectory=/folder2/subfolder1                                                                #
# x.todirectorytype=dated:MMdd                                                                     #
# x.repeat=5                                                                                       #
#                                                                                                  #
# This will move all in SECTION1 to only exist on 'slave1 or slave2'                               #
# If the file exists on multiple slaves, it will remove it from the other slaves.                  #
# If numofslaves > 1 it will make sure each dir is on X number of slaves.                          #
#                                                                                                  #
# x.type=MoveReleaseOffMultipleSlavesToSpecificSlaves                                              #
# x.section=SECTION1                                                                               #
# x.archiveafter=1440                                                                              #
# x.numofslaves=1                                                                                  #
# x.priority=1                                                                                     #
# x.slavename.1=slave1                                                                             #
# x.slavename.2=slave2                                                                             #
#                                                                                                  #
# This will MP3 Dated Subdirs (/SECTION1/0101/*) directories to                                    #
#  the slaves listed after 1 day.                                                                  #
#                                                                                                  #
# x.type=MoveReleaseToSpecificSlaves                                                               #
# x.section=SECTION1                                                                               #
# x.scansubdirs=1                                                                                  #
# x.archiveafter=1440                                                                              #
# x.numofslaves=1                                                                                  #
# x.priority=3                                                                                     #
# x.slavename.1=slave1                                                                             #
# x.slavename.2=slave2                                                                             #
#                                                                                                  #
# This will move directories in SECTION1 to                                                        #
#  /folder2/subfolder1/rls.name/rls.name.Season.01 after 1 day.                                    #
#                                                                                                  #
# Note: ${episode} is also a element that can be read                                              #
#                                                                                                  #
# EXAMPLE: rls.name.S01E02.extension-group                                                         #
#                                                                                                  #
# x.type=MoveReleaseToSpecificFolder                                                               #
# x.section=SECTION1                                                                               #
# x.archiveafter=1440                                                                              #
# x.todirectory=/folder2/subfolder1                                                                #
# x.todirectorytype=rls:${rls}/${rls}.Season.${season}                                             #
#                                                                                                  #
# This will move directories in SECTION1 to                                                        #
#  /folder2/subfolder1/rls.name after 1 day.                                                       #
#                                                                                                  #
# EXAMPLE: rls.name.S01E02.extension-group                                                         #
#                                                                                                  #
# x.type=MoveReleaseToSpecificFolder                                                               #
# x.section=SECTION1                                                                               #
# x.archiveafter=1440                                                                              #
# x.todirectory=/folder2/subfolder1                                                                #
# x.todirectorytype=regex:(?i)(.*)(\\.|-|_)S\\d.*                                                  #
#                                                                                                  #
# This will move directories in DATED SECTION1 to                                                  #
#  /folder2/subfolder1/2010-MM after 1 day.                                                        #
#                                                                                                  #
# EXAMPLE: 0102                                                                                    #
#                                                                                                  #
# x.type=MoveReleaseToSpecificFolder                                                               #
# x.section=SECTION1                                                                               #
# x.archiveafter=1440                                                                              #
# x.todirectory=/folder2/subfolder1                                                                #
# x.todirectorytype=rls:2010-${regex:(\\d\\d).*}                                                   #
#                                                                                                  #
####################################################################################################

# Default [30]
cycletime=30

# Default [10]
maxConcurrentActions=10
