<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.drftpd.protocol.mediainfo.slave" version="3.4.3">
	<attributes>
		<attribute id="ProtocolName" value="MediaInfoProtocol"/>
		<attribute id="ImplicitDependencies">
			<attribute id="Dependency1" value="org.drftpd.plugins.mediainfo" />
		</attribute>
	</attributes>
	
	<requires>
		<import plugin-id="org.drftpd.protocol.mediainfo.common" />
		<import plugin-id="slave" reverse-lookup="true" />
	</requires>
	<runtime>
		<library id="org.drftpd.protocol.mediainfo.slave" path="classes/" type="code">
		</library>
	</runtime>
			
	<extension plugin-id="slave" point-id="Handler" id="MediaInfofileHandler">
		<parameter id="Name" value="mediainfo" />
		<parameter id="Class" value="org.drftpd.protocol.mediainfo.slave.MediaInfoHandler" />
		<parameter id="Method" value="handleMediaFile" />
	</extension>
</plugin>
