CDUP {
plugin org.drftpd.commands.dir
class Dir
method doCDUP
perms *
}

CWD {
plugin org.drftpd.commands.dir
class Dir
method doCWD
perms *
}

MKD {
plugin org.drftpd.commands.dir
class Dir
method doMKD
perms *
}

PWD {
plugin org.drftpd.commands.dir
class Dir
method doPWD
perms *
}

RMD {
plugin org.drftpd.commands.dir
class Dir
method doRMD
perms *
}

RNFR {
plugin org.drftpd.commands.dir
class Dir
method doRNFR
perms *
}

RNTO {
plugin org.drftpd.commands.dir
class Dir
method doRNTO
perms *
}

DELE {
plugin org.drftpd.commands.dir
class Dir
method doDELE
perms *
}

SITE WIPE {
plugin org.drftpd.commands.dir
class Dir
method doSITE_WIPE
perms =wipe =siteop
help Deletes files without removing credits.
help.specific ${command} [-r] <file/dir>
help.specific Deletes files without removing credits. -r means delete recursively.
}

SITE CHOWN {
plugin org.drftpd.commands.dir
class Dir
method doSITE_CHOWN
perms =siteop
help Changes ownership of a file/directory.
help.specific ${command} [-r] <user>[:<group>] <file>
help.specific Changes ownership of a file/directory.
}

#collides with SITE CHGRP defined by UserManagement
#SITE\ CHGRP=org.drftpd.commands.Dir

SITE LINK {
plugin org.drftpd.commands.dir
class Dir
method doSITE_LINK
perms =siteop
help Creates a symbolic link.
help.specific ${command} <target> <linkname>
help.specific Creates a symbolic link.
}

SITE FIXSIZE {
plugin org.drftpd.commands.dir
class Dir
method doSITE_FIXSIZE
perms =siteop
help Recursively walks through and validates the size information of the current working directory
help.specific ${command}
}

XCRC {
plugin org.drftpd.commands.dir
class Dir
method doXCRC
perms *
}

MDTM {
plugin org.drftpd.commands.dir
class Dir
method doMDTM
perms *
}

SIZE {
plugin org.drftpd.commands.dir
class Dir
method doSIZE
perms *
}

SITE FIXSLAVECOUNT {
plugin org.drftpd.commands.dir
class Dir
method doSITE_FIXSLAVECOUNT
perms =siteop
help Recursively walks through and validates the slave reference counts held against the current working directory
help.specific ${command}
help.specific This command should only be run when the site has a static VFS,
help.specific this means no file uploads, no slaves remerging and no active
help.specific archiving/jobs defined. If changes happen in the VFS whilst this
help.specific command is running the resulting counts set will be incorrect.
}