reqdel {
plugin org.drftpd.request.master
class Request
method doSITE_REQDELETE
perms =request =siteop
help Deletes a request.
help.specific ${command} <nameofrequest>
input all
output source
# You can only delete your own without deleteOthers.
request.deleteOthers =siteop
}

reqfilled {
plugin org.drftpd.request.master
class Request
method doSITE_REQFILLED
perms *
help Fill a request.
help.specific ${command} <nameofrequest>
input all
output source
}

request {
plugin org.drftpd.request.master
class Request
method doSITE_REQUEST
perms =request =siteop
help Add a request.
help.specific ${command} <nameofrequest>
input all
output source
# You can only delete your own without deleteOthers.
request.deleteOthers =siteop
}

requests {
plugin org.drftpd.request.master
class Request
method doSITE_REQUESTS
perms *
help List current requests.
input all
output source
}

fixrequests {
plugin org.drftpd.request.master
class Request
method doSITE_FIXREQUESTS
perms =siteop
help Tries to fix requests dir with the actual requests
input all
output source
}
