<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.drftpd.commands.usermanagement.expireduser" version="3.4.3">
	<doc>
		<doc-text>This plugin provides ability to expire users</doc-text>
	</doc>
	<requires>
		<import plugin-id="master" />
		<import plugin-id="org.drftpd.commands.login" />
		<import plugin-id="org.drftpd.commandmanager" exported="true" />
		<import plugin-id="org.drftpd.commands.prehook.permissions" exported="true" />
		<import plugin-id="org.drftpd.commands.usermanagement" exported="true" />
		<import plugin-id="org.drftpd.commands.usermanagement.expireduser.metadata" exported="true" />
	</requires>
	<runtime>
		<library id="org.drftpd.commands.usermanagement.expireduser" path="classes/" type="code">
			<export prefix="*" />
		</library>
	</runtime>
	<extension-point id="PreHook" parent-plugin-id="org.drftpd.commandmanager" parent-point-id="CommandPreHook" />
	<extension-point id="PostHook" parent-plugin-id="org.drftpd.commandmanager" parent-point-id="CommandPostHook" />

	<extension plugin-id="org.drftpd.commandmanager" point-id="Command" id="ExpiredUserHandler" />

	<extension plugin-id="master" point-id="PreUserResetHook" id="ExpiredUserManager">
		<parameter id="Class" value="org.drftpd.commands.usermanagement.expireduser.ExpiredUserManager"/>
	</extension>
	
	<extension plugin-id="org.drftpd.commands.login" point-id="PreHook" id="doUSERPREHOOK">
        <parameter id="ParentMethod" value="doUSER" />
        <parameter id="HookClass" value="org.drftpd.commands.usermanagement.expireduser.ExpiredUserPreHook" />
        <parameter id="HookMethod" value="doUSERPreHook" />
        <parameter id="Priority" value="1" />
    </extension>

	<extension plugin-id="org.drftpd.commands.usermanagement.expireduser" point-id="PreHook" id="doSITE_SETEXPIREPerm">
		<parameter id="ParentMethod" value="doSITE_SETEXPIRE" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.usermanagement.expireduser" point-id="PreHook" id="doSITE_DELEXPIREPerm">
		<parameter id="ParentMethod" value="doSITE_REMOVEEXPIRE" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>

	<extension plugin-id="org.drftpd.commands.usermanagement" point-id="PostHook" id="EXPIREDUSERPostHook">
		<parameter id="ParentMethod" value="doSITE_USER" />
		<parameter id="HookClass" value="org.drftpd.commands.usermanagement.expireduser.ExpiredUserPostHook" />
		<parameter id="HookMethod" value="doExpiredUserPostHook" />
		<parameter id="Priority" value="1000" />
	</extension>
</plugin>