<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.drftpd.commands.zipscript.links.nuke" version="3.0.0">
	<doc>
		<doc-text>This plugin provides Link cleanup for the Nuke Plugin</doc-text>
	</doc>

	<requires>
		<import plugin-id="org.drftpd.commands.zipscript.links" />
		<import plugin-id="org.drftpd.commands.nuke" />
		<import plugin-id="master" exported="true" reverse-lookup="true" />
	</requires>
	<runtime>
		<library id="org.drftpd.commands.zipscript.links.nuke" path="classes/" type="code" />
	</runtime>

   <extension plugin-id="master" point-id="Plugin" id="NukeLinkManagement">
		<parameter id="Class" value="org.drftpd.commands.zipscript.links.nuke.NukeLinkManagement"/>
	</extension>

</plugin>
