<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.drftpd.vfs.index.lucene" version="3.4.3">
	<attributes>
		<attribute id="DenyUnload" value="true" />
		<attribute id="DefaultBuild" value="true" />
		<attribute id="MustBuild" value="true" />
	</attributes>
	<requires>
		<import plugin-id="master" exported="true" />
	</requires>
	<runtime>
		<library id="org.drftpd.vfs.index.lucene" path="classes/" type="code">
			<export prefix="*" />
		</library>
		<library id="lucene" path="../../../lib/lucene-core-3.6.2.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="lucene-queries" path="../../../lib/lucene-queries-3.6.2.jar" type="code">
			<export prefix="*" />
		</library>
	</runtime>
	<extension-point id="IndexData">
		<parameter-def id="Class" type="string" />
	</extension-point>
	<extension-point id="QueryTerm">
		<parameter-def id="Class" type="string" />
	</extension-point>
	
	<extension plugin-id="master" point-id="IndexingEngine" id="LuceneEngine">
		<parameter id="Class" value="org.drftpd.vfs.index.lucene.LuceneEngine" />
	</extension>
</plugin>