1.filter=maxtransfers
1.maxtransfers=2

2.filter=maxbandwidth
2.maxbandwidth=1000kb

3.filter=bandwidth
3.multiplier=1

4.filter=minfreespace
4.multiplier=1
4.minfreespace=1GB

5.filter=minfreespace
5.minfreespace=100MB
5.multiplier=remove

6.filter=cycle
