#Used by org.drftpd.slaveselection.def.SlaveSelection slaveselection plugin.

# Minimum amount of available diskspace in bytes to have on a slave when
# sending to it. If all available slaves have less than this amount the
# slave with most available disk space will get all transfers.
#100 MiB, 100,000,000

minfreespace=100MB

