<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.drftpd.plugins.dupecheck.metadata" version="3.4.3">
	<doc>
		<doc-text>This plugin handle metadata for DupeCheck.</doc-text>
	</doc>
    <attributes>
		<attribute id="DenyUnload" value="true" />
		<attribute id="DefaultBuild" value="true" />
		<attribute id="MustBuild" value="false" />
	</attributes>
    <requires>
		<import plugin-id="master" exported="true" reverse-lookup="true" />
	</requires>
	<runtime>
		<library id="org.drftpd.plugins.dupecheck.metadata" path="classes/" type="code">
			<export prefix="*" />
		</library>
	</runtime>
</plugin>
