# Don't update files and bytes on transfers
#nostatsup      /pre/*  *
#nostatsdn      /pre/*  *

# Control credit ratio on uploads (0 = no credits)
#creditcheck <path> <ratio> <=group/-user>

# Control credit ratio on downloads (0 = no credits)
#creditloss <path> <ratio> <=group/-user>

# Limit UL/DL over time
# direction : UP / DN
# period : ALL / DAY / WEEK / MONTH
#creditlimit <path> <direction> <period> <bytes> <=group/-user>