################################################################################
#	Kick
#
#	This will kick the user for a slow transfer
#
#	x.reason = Kick reason
#
################################################################################