####################
# TVMaze Settings ##
####################################################################################################

# Sections plugin should announce TvMAze info on races/pre.
#race.section.x=SECTION

# Search for release on site on tvmaze search.
search.release=false
#search.hd.section.x=SECTION-HD
#search.sd.section.x=SECTION-SD

# Dirs to exclude (regex).
# Only dirs matching "(\w+\.){3,}\w+-\w+" pattern will pass so only add dirs to exclude that also matchi this pattern.
exclude=

# Remove these words from search string (regex).
#filter.x=regex.string

# Date and time format for show info.
date.show=yyyy-MM-dd
time.show=EEEE, HH:mm

# Timezone to use for all dates and times.
timezone=-05:00

# Random delay interval between tvmaze parses.
delay.start=0
delay.end=5

# Enable TVMaze bar?
tvmazebar.enabled=false
# TvMaze bar as directory (true) or file (false)?
tvmazebar.directory=true

