archive {
plugin org.drftpd.archive.master.commands
class ArchiveCommandHandler
method doARCHIVE
perms =siteop
help Create a new ArchiveHandler like defined in archive.conf
help.specific Create a new ArchiveHandler like defined in archive.conf
help.specific ${command} Directory [ArchiveType] [property1] [property2] [property...]
help.specific - An example of a property is slavename.1=myslave just like in archive.conf
badarchivetype=ArchiveType ${archivetypename} was unable to be initialized - ${exception}
incompatible ArchiveType ${archivetypename} is incompatible with this version of DrFTPD
baddir Directory ${dirname} was unable to be found
badslave Unable to add ${slavename} to the slaveList
success Started ArchiveHandler for ${archivetypename} on ${dirname}
fail ${exception}
input all
output source
}

listarchivetypes {
plugin org.drftpd.archive.master.commands
class ArchiveCommandHandler
method doLISTARCHIVETYPES
perms =siteop
help List the currently running ArchiveTypes.
help.specific List the currently running ArchiveTypes.
help.specific ${command}
input all
output source
}

listarchivequeue {
plugin org.drftpd.archive.master.commands
class ArchiveCommandHandler
method doLISTQUEUE
perms =siteop
help List the currently running ArchiveTypes
help.specific List the currently running ArchiveTypes
input all
output source
}