<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.drftpd.commands.nuke" version="3.4.3">
	<doc>
		<doc-text>This plugin provides Nuke capability. 
(SITE NUKE/UNNUKE/NUKES)</doc-text>
	</doc>
	<requires>
		<import plugin-id="org.drftpd.commandmanager" exported="true" />
		<import plugin-id="org.drftpd.commands.dir" />
		<import plugin-id="org.drftpd.commands.prehook.permissions" exported="true" />
		<import plugin-id="org.drftpd.commands.list" exported="true" />
		<import plugin-id="org.drftpd.commands.nuke.metadata" exported="true" />
	</requires>
	<runtime>
		<library id="org.drftpd.commands.nuke" path="classes/" type="code">
			<export prefix="*" />
		</library>
	</runtime>
	<extension-point id="PreHook" parent-plugin-id="org.drftpd.commandmanager" parent-point-id="CommandPreHook" />
	<extension-point id="PostHook" parent-plugin-id="org.drftpd.commandmanager" parent-point-id="CommandPostHook" />

	<extension plugin-id="org.drftpd.commands.list" point-id="AddElements" id="NukeListElements">
		<parameter id="Class" value="org.drftpd.commands.nuke.list.NukeList" />
	</extension>

	<extension plugin-id="org.drftpd.commandmanager" point-id="Command" id="NukeHandler" />

	<extension plugin-id="org.drftpd.commands.dir" point-id="PreHook" id="NukeMKDCheck">
		<parameter id="ParentMethod" value="doMKD" />
		<parameter id="HookClass" value="org.drftpd.commands.nuke.NukePreHook" />
		<parameter id="HookMethod" value="doNukeCheck" />
		<parameter id="Priority" value="1000" />
	</extension>
	<extension plugin-id="org.drftpd.commands.dir" point-id="PreHook" id="NukeRNTOCheck">
		<parameter id="ParentMethod" value="doRNTO" />
		<parameter id="HookClass" value="org.drftpd.commands.nuke.NukePreHook" />
		<parameter id="HookMethod" value="doNukeCheck" />
		<parameter id="Priority" value="1000" />
	</extension>
	<extension plugin-id="org.drftpd.commands.nuke" point-id="PreHook" id="doSITE_UNNUKEPerm">
		<parameter id="ParentMethod" value="doSITE_UNNUKE" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.nuke" point-id="PreHook" id="doSITE_NUKEPerm">
		<parameter id="ParentMethod" value="doSITE_NUKE" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.nuke" point-id="PreHook" id="doSITE_NUKESPerm">
		<parameter id="ParentMethod" value="doSITE_NUKES" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.nuke" point-id="PreHook" id="doSITE_NUKESCLEANPerm">
		<parameter id="ParentMethod" value="doSITE_NUKESCLEAN" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
</plugin>