# times are represented in minutes
# 1440  = 1 day
# 10080 = 1 week
# 43200 = 1 month

# amount of time between checking site for releases to archive
cycleTime=30

# ArchiveTypes define the definition of "Archived"
# do not archive releases younger than archiveAfter

#This configuration will make sure that two copies of every file are on live slaves
#firstsectionname.archiveType=ConstantMirroring
#firstsectionname.numOfSlaves=2
#firstsectionname.slaveDeadAfter=1440
#firstsectionname.priority=3

#This configuration will make sure that three copies of every file are on the slaves identified
#secondsectionname.archiveType=ConstantMirroring
#secondsectionname.archiveAfter=0
#secondsectionname.numOfSlaves=3
#secondsectionname.priority=3
#secondsectionname.slavename.1=drftpd1
#secondsectionname.slavename.2=drftpd2
#secondsectionname.slavename.3=drftpd3
#secondsectionname.slavename.4=drftpd4
#secondsectionname.slavename.5=drftpd5

#thirdsectionname.archiveType=MoveReleaseToMostFreeSlaves
#thirdsectionname.archiveAfter=43200
#thirdsectionname.numOfSlaves=2
#thirdsectionname.priority=3
#thirdsectionname.slavename.1=drftpd1
#thirdsectionname.slavename.2=drftpd2

#forthsectionname.archiveType=MoveReleaseOffSlavesToMostFreeSlaves
#forthsectionname.archiveAfter=43200
#forthsectionname.numOfSlaves=2
#forthsectionname.priority=3
#forthsectionname.offOfSlave.1=slave1
#forthsectionname.offOfSlave.2=slave2
#forthsectionname.slavename.1=drftpd1
#forthsectionname.slavename.2=drftpd2

# If a section is not defined an archiveType, that section is excluded 
# from automatic archiving.  You may still manually archive releases 
# with the "site archive" command


# Archive Types:
#
#
# MoveReleaseToSpecificSlaves: Moves releases to the specific slaves only.
#    eg:  site archive RLSNAME MoveReleaseToSpecificSlaves slavename.1=slave1 slavename.2=slave2
#       This will move 'RLSNAME' off all other slaves and only to 'slave1' and 'slave2'
#
# MoveReleaseToMostFreeSlaves: Move releases to the most free slaves listed.
#    eg:  site archive RLSNAME MoveReleaseToMostFreeSlave slavename.1=slave1 slavename.2=slave2
#       This will move 'RLSNAME' to the slave with the most free space whether it be 'slave1' or 'slave2'
#
# MoveReleaseOffSlavesToMostFreeSlaves:  Moves releases off of specified slaves to most free slaves listed.
#    eg:  site archive RLSNAME MoveReleaseOffSlavesToMostFreeSlaves offofslave.1=slave1 offofslave.2=slave2 slavename.1=slave3 slavename.2=slave4
#       This will move 'RLSNAME' off of 'slave1' and 'slave2' and move to whichever slave has most free space of 'slave3' and 'slave4'
#
# ConstantMirroring
#    eg:  above using this .conf file
#        This will constantly mirror everything from 'slaveX' to 'slaveY' defined in the sections above.
#