################################################################################
#   This Plugin allows archiving of folders to different slaves and folders 
#
#   cycletime = (Required) - Length between each cycle (Minutes)
#                1440 = 1 day | 10080 = 1 week | 43200 = 1 month
#
#   X.type = (Required) - ArchiveTypeName
#   X.section = (Required) - Section To Archive From
#   X.archiveafter = (Optional) - Archive Releases After X minutes
#   X.ignoreafter = (Optional) - Don't archive releases if older than X minutes
#   X.repeat = (Optional) - How many times to check Section during 1 cycle
#   X.scansubdirs = (Optional) - Used to scan subdirs of section instead of section dirs.  (eg. MP3)
#   X.archiveregex = (Optional) - Which folders to archive using regex
#   X.todirectory = (Optional) - Move directory after archive (Section name or FULL path only)
#   X.todirectorytype = (Optional) - Type to use while moving dir (alpha/dated/rls/regex)
#   X.priority = (Optional) - How high of a priority this ranks over other archives
#   X.numofslaves = (Type Specific) - How many different slaves to archive too
#   X.slavedeadafter = (Type Specific) - When to not try to mirror (ConstantMirror)
#   X.slavename.Y = (Type Specific) - Slaves to archive too
#   X.offofslave.Y = (Type Specific) - Slaves to archive OFF of
#
#   Examples:
#
#   This will archive everything in SECTION1 to 2 different slaves
#   (slave1, slave2, or slave3) after 1 week, and if slave doesn't respond
#   it will remove after 1 day
#   ----------------------------
#   X.type=ConstantMirroring
#   X.section=SECTION1
#   X.archiveafter=10080
#   X.numofslaves=2
#   X.priority=3
#   X.slavedeadafter=1440
#   X.slavename.1=slave1
#   X.slavename.2=slave2
#   X.slavename.3=slave3
#   ----------------------------
#
#   This will move everything in SECTION1 to 1 slave with the least amount
#   of free slave after 1 month.
#   ----------------------------
#   X.type=MoveReleaseToMostFreeSlaves
#   X.section=SECTION1
#   X.archiveafter=43200
#   X.numofslaves=1
#   X.priority=3
#   X.slavename.1=slave1
#   X.slavename.2=slave2
#   X.slavename.3=slave3
#   ----------------------------
#
#   This will move directories with 1080i/1080p in SECTION1 off of slave1/slave2 
#   and move them to 2 slaves with most free space after 1 month.
#   ----------------------------
#   X.type=MoveReleaseOffSlavesToMostFreeSlaves
#   X.section=SECTION1
#   X.archiveafter=43200
#   X.numofslaves=2
#   X.archiveregex=^.*(1080(p|i)).*$
#   X.priority=3
#   X.offofslave.1=slave1
#   X.offofslave.2=slave2
#   X.slavename.1=slave3
#   X.slavename.2=slave4
#   X.slavename.3=slave5
#   ----------------------------
#
#   This will move directories with 1080i/1080p in SECTION1 to one
#   of the slaves listed after 1 day.  It will also move the dir to SECTION2
#   in a alpha dir (ie /SECTION2/A - for dirs starting with A)
#   ----------------------------
#   X.type=MoveReleaseToSpecificSlaves
#   X.section=SECTION1
#   X.archiveafter=1440
#   X.numofslaves=1
#   X.archiveregex=^.*(1080(p|i)).*$
#   X.priority=3
#   X.slavename.1=slave1
#   X.slavename.2=slave2
#   X.todirectory=SECTION2
#   X.todirectorytype=alpha
#   ----------------------------
#
#   This will move directories with 1080i/1080p in SECTION1 to
#   /folder2/subfolder1/MMdd after 1 day.  This will also repeat
#   5 times each cycle.  Since there is no slave archiving it can
#   move up to 5 directories every cycle time.
#   ----------------------------
#   X.type=MoveReleaseToSpecificFolder
#   X.section=SECTION1
#   X.archiveafter=1440
#   X.archiveregex=^.*(1080(p|i)).*$
#   X.todirectory=/folder2/subfolder1
#   X.todirectorytype=dated:MMdd
#   X.repeat=5
#   ----------------------------
#
#   This will move all in SECTION1 to only exist on 'slave1 or slave2'
#	If the file exists on multiple slaves, it will remove it from the other
#   slaves.
#   If numofslaves > 1 it will make sure each dir is on X number of slaves
#   ----------------------------
#   X.type=MoveReleaseOffMultipleSlavesToSpecificSlaves
#   X.section=SECTION1
#   X.archiveafter=1440
#   X.numofslaves=1
#   X.priority=1
#   X.slavename.1=slave1
#   X.slavename.2=slave2
#   ----------------------------
#
#   This will MP3 Dated Subdirs (/SECTION1/0101/*) directories to
#   the slaves listed after 1 day.
#   ----------------------------
#   X.type=MoveReleaseToSpecificSlaves
#   X.section=SECTION1
#   X.scansubdirs=1
#   X.archiveafter=1440
#   X.numofslaves=1
#   X.priority=3
#   X.slavename.1=slave1
#   X.slavename.2=slave2
#   ----------------------------
#
#   This will move directories in SECTION1 to
#   /folder2/subfolder1/rls.name/rls.name.Season.01 after 1 day.
#   NOTE: ${episode} is also a element that can be read
#   EXAMPLE: rls.name.S01E02.extension-group
#   ----------------------------
#   X.type=MoveReleaseToSpecificFolder
#   X.section=SECTION1
#   X.archiveafter=1440
#   X.todirectory=/folder2/subfolder1
#   X.todirectorytype=rls:${rls}/${rls}.Season.${season}
#   ----------------------------
#
#   This will move directories in SECTION1 to
#   /folder2/subfolder1/rls.name after 1 day.
#   EXAMPLE: rls.name.S01E02.extension-group
#   ----------------------------
#   X.type=MoveReleaseToSpecificFolder
#   X.section=SECTION1
#   X.archiveafter=1440
#   X.todirectory=/folder2/subfolder1
#   X.todirectorytype=regex:(?i)(.*)(\\.|-|_)S\\d.*
#   ----------------------------
#
#   This will move directories in DATED SECTION1 to
#   /folder2/subfolder1/2010-MM after 1 day.
#   EXAMPLE: 0102
#   ----------------------------
#   X.type=MoveReleaseToSpecificFolder
#   X.section=SECTION1
#   X.archiveafter=1440
#   X.todirectory=/folder2/subfolder1
#   X.todirectorytype=rls:2010-${regex:(\\d\\d).*}
#   ----------------------------
#
################################################################################

cycletime=30
