# times are represented in minutes
# 1440  = 1 day
# 10080 = 1 week
# 43200 = 1 month

# amount of time between checking site for releases to archive
cycleTime=30

# ArchiveTypes define the definition of "Archived"
# do not archive releases younger than archiveAfter

#This configuration will make sure that two copies of every file are on live slaves
#firstsectionname.archiveType=ConstantMirroring
#firstsectionname.numOfSlaves=2
#firstsectionname.slaveDeadAfter=1440
#firstsectionname.priority=3

#This configuration will make sure that three copies of every file are on the slaves identified
#secondsectionname.archiveType=ConstantMirroring
#secondsectionname.archiveAfter=0
#secondsectionname.numOfSlaves=3
#secondsectionname.priority=3
#secondsectionname.slavename.1=drftpd1
#secondsectionname.slavename.2=drftpd2
#secondsectionname.slavename.3=drftpd3
#secondsectionname.slavename.4=drftpd4
#secondsectionname.slavename.5=drftpd5

# If a section is not defined an archiveType, that section is excluded 
# from automatic archiving.  You may still manually archive releases 
# with the "site archive" command
