<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.drftpd.plugins.sitebot.announce.store" version="3.4.3">
	<doc>
		<doc-text>(Sitebot) - This plugin provides announcement for configured files on STOR</doc-text>
	</doc>
	<requires>
		<import plugin-id="org.drftpd.plugins.sitebot" />
	</requires>
	<runtime>
		<library id="org.drftpd.plugins.sitebot.announce.store" path="classes/" type="code" />
	</runtime>
	<extension plugin-id="org.drftpd.plugins.sitebot" point-id="Announce" id="StoreAnnounce">
		<parameter id="Class" value="org.drftpd.plugins.sitebot.announce.store.StoreAnnouncer" />
	</extension>
</plugin>