##############################################################################
##                         ENCRYPTED USER PASSWORDS                         ##
##                                                                          ##
##      Encrypt User Passwords In json File                                 ##
##                                                                          ##
##      Valid Options: md2, md5, sha-1, sha-256, sha-384, sha-512, bcrypt   ##
##                     none, clear, empty = No encryption                   ##
##                                                                          ##
##############################################################################
passcrypt=bcrypt