<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<!-- $Id$ -->
<plugin id="org.drftpd.commands.slavemanagement" version="2.1.0">
	<attributes>
		<attribute id="DefaultBuild" value="true" />
		<attribute id="MustBuild" value="true" />
	</attributes>
	<requires>
		<import plugin-id="org.drftpd.commandmanager" exported="true" />
		<import plugin-id="org.drftpd.slaveselection.filter" exported="true" />
		<import plugin-id="org.drftpd.commands.prehook.permissions" exported="true" />
	</requires>
	<runtime>
		<library id="org.drftpd.commands.slavemanagement" path="build/classes/" type="code">
			<export prefix="*" />
		</library>
	</runtime>
	<extension-point id="PostHook">
		<parameter-def id="HookClass" type="string" />
		<parameter-def id="HookMethod" type="string" />
		<parameter-def id="ParentMethod" type="string" />
		<parameter-def id="Priority" type="number" />
	</extension-point>
	<extension-point id="PreHook">
		<parameter-def id="HookClass" type="string" />
		<parameter-def id="HookMethod" type="string" />
		<parameter-def id="ParentMethod" type="string" />
		<parameter-def id="Priority" type="number" />
	</extension-point>
	<extension plugin-id="org.drftpd.commandmanager" point-id="Command" id="SlaveManagementHandler" />
	<extension plugin-id="org.drftpd.commands.slavemanagement" point-id="PreHook" id="doSITE_SLAVEPerm">
		<parameter id="ParentMethod" value="doSITE_SLAVE" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.slavemanagement" point-id="PreHook" id="doSITE_KICKSLAVEPerm">
		<parameter id="ParentMethod" value="doSITE_KICKSLAVE" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.slavemanagement" point-id="PreHook" id="doSITE_REMERGEPerm">
		<parameter id="ParentMethod" value="doSITE_REMERGE" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.slavemanagement" point-id="PreHook" id="doSITE_SLAVESELECTPerm">
		<parameter id="ParentMethod" value="doSITE_SLAVESELECT" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.slavemanagement" point-id="PreHook" id="doSITE_DELSLAVEPerm">
		<parameter id="ParentMethod" value="doSITE_DELSLAVE" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.slavemanagement" point-id="PreHook" id="doSITE_SLAVESPerm">
	<parameter id="ParentMethod" value="doSITE_SLAVES" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.slavemanagement" point-id="PreHook" id="doSITE_ADDSLAVEPerm">
		<parameter id="ParentMethod" value="doSITE_ADDSLAVE" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
</plugin>
