<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.drftpd.plugins.linkmanager" version="3.4.3">
	<doc>
		<doc-text> This plugin provides a Link Manager</doc-text>
	</doc>
    <attributes>
		<attribute id="DefaultBuild" value="false" />
		<attribute id="MustBuild" value="false" />
	</attributes>
	<requires>
		<import plugin-id="org.drftpd.commandmanager" exported="true" />
		<import plugin-id="org.drftpd.commands.prehook.permissions" exported="true" />
		<import plugin-id="master" exported="true" reverse-lookup="true" />
	</requires>
	<runtime>
		<library id="org.drftpd.plugins.linkmanager" path="classes/" type="code">
			<export prefix="*" />
		</library>
	</runtime>
	
	<extension-point id="PreHook" parent-plugin-id="org.drftpd.commandmanager" parent-point-id="CommandPreHook" />
	<extension-point id="PostHook" parent-plugin-id="org.drftpd.commandmanager" parent-point-id="CommandPostHook" />
 
	<extension plugin-id="org.drftpd.commandmanager" point-id="Command" id="LinkManagerHandler" />
 
 	<extension-point id="LinkType">
		<parameter-def id="TypeName" type="string" />
		<parameter-def id="ClassName" type="string" />
	</extension-point>
 
	<extension plugin-id="master" point-id="Plugin" id="LinkManager">
		<parameter id="Class" value="org.drftpd.plugins.linkmanager.LinkManager"/>
	</extension>
	
	<extension plugin-id="org.drftpd.plugins.linkmanager" point-id="PreHook" id="doSITE_FIXLINKSPerm">
		<parameter id="ParentMethod" value="doSITE_FIXLINKS" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>

</plugin>
