<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.drftpd.plugins.sitebot.plugins.dailystats" version="3.4.3">
	<doc>
		<doc-text>This plugin provides Daily Stats output.</doc-text>
	</doc>
	
	<requires>
		<import plugin-id="master" />
		<import plugin-id="org.drftpd.plugins.sitebot" />
	</requires>
	<runtime>
		<library id="org.drftpd.plugins.sitebot.plugins.dailystats" path="classes/" type="code" />
	</runtime>
	<extension plugin-id="master" point-id="PreUserResetHook" id="StatsTimer">
		<parameter id="Class" value="org.drftpd.plugins.sitebot.plugins.dailystats.DailyStats"/>
	</extension>
	<extension plugin-id="org.drftpd.plugins.sitebot" point-id="Announce" id="StatsAnnounce">
		<parameter id="Class" value="org.drftpd.plugins.sitebot.plugins.dailystats.announce.StatsAnnouncer" />
	</extension>
</plugin>