SITE RULES {
plugin org.drftpd.commands.textoutput
class Textoutput
method doTEXT_OUTPUT
perms *
help Displays the site rules
file userdata/text/rules.txt
}

SITE WELCOME {
plugin org.drftpd.commands.textoutput
class Textoutput
method doTEXT_OUTPUT
perms *
help Displays site welcome message
file userdata/text/welcome.txt
}