<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.drftpd.protocol.mediainfo.common" version="3.4.3">
    <attributes>  
        <attribute id="DenyUnload" value="true" />
    </attributes>
    <requires>
		<import plugin-id="common" exported="true" />
	</requires>
	<runtime>
		<library id="org.drftpd.protocol.mediainfo.common" path="classes/" type="code">
			<export prefix="*" />
		</library>
		<library id="mediainfo-aspectjrt" path="../../../lib/aspectjrt-1.9.5.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="mediainfo-isoparser" path="../../../lib/isoparser-1.9.41.jar" type="code">
			<export prefix="*" />
		</library>
	</runtime>
</plugin>
