# $Id$
rebuildindex {
plugin org.drftpd.commands.indexmanager
class IndexManager
method doRebuildIndex
perms =siteop
input all
output source
}

indexstatus {
plugin org.drftpd.commands.indexmanager
class IndexManager
method doIndexStatus
perms =siteop
input all
output source
}
