<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.drftpd.commands.usermanagement" version="2.1.0">
	<attributes>
		<attribute id="DefaultBuild" value="true" />
	</attributes>
	<requires>
		<import plugin-id="org.drftpd.commandmanager" exported="true" />
		<import plugin-id="org.drftpd.commands.prehook.permissions" exported="true" />
	</requires>
	<runtime>
		<library id="org.drftpd.commands.usermanagement" path="org.drftpd.commands.usermanagement.jar" type="code">
			<export prefix="*" />
		</library>
	</runtime>
	<extension-point id="PostHook">
		<parameter-def id="HookClass" />
		<parameter-def id="HookMethod" />
		<parameter-def id="ParentMethod" />
		<parameter-def id="Priority" type="number" />
	</extension-point>
	<extension-point id="PreHook">
		<parameter-def id="HookClass" />
		<parameter-def id="HookMethod" />
		<parameter-def id="ParentMethod" />
		<parameter-def id="Priority" type="number" />
	</extension-point>
	<extension plugin-id="org.drftpd.commandmanager" point-id="Command" id="UserManagementHandler">
	</extension>
	<extension plugin-id="org.drftpd.commands.usermanagement" point-id="PreHook" id="doSITE_GIVEPerm">
		<parameter id="ParentMethod" value="doSITE_GIVE" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.usermanagement" point-id="PreHook" id="doSITE_SEENPerm">
		<parameter id="ParentMethod" value="doSITE_SEEN" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.usermanagement" point-id="PreHook" id="doSITE_READDPerm">
		<parameter id="ParentMethod" value="doSITE_READD" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.usermanagement" point-id="PreHook" id="doSITE_GROUPSPerm">
		<parameter id="ParentMethod" value="doSITE_GROUPS" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.usermanagement" point-id="PreHook" id="doSITE_WHOPerm">
		<parameter id="ParentMethod" value="doSITE_WHO" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.usermanagement" point-id="PreHook" id="doSITE_CHANGEPerm">
		<parameter id="ParentMethod" value="doSITE_CHANGE" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.usermanagement" point-id="PreHook" id="doSITE_DELIPPerm">
		<parameter id="ParentMethod" value="doSITE_DELIP" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.usermanagement" point-id="PreHook" id="doSITE_PURGEPerm">
		<parameter id="ParentMethod" value="doSITE_PURGE" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.usermanagement" point-id="PreHook" id="doSITE_KICKPerm">
		<parameter id="ParentMethod" value="doSITE_KICK" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.usermanagement" point-id="PreHook" id="doSITE_USERSPerm">
		<parameter id="ParentMethod" value="doSITE_USERS" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.usermanagement" point-id="PreHook" id="doSITE_CHPASSPerm">
		<parameter id="ParentMethod" value="doSITE_CHPASS" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.usermanagement" point-id="PreHook" id="doSITE_TAGLINEPerm">
		<parameter id="ParentMethod" value="doSITE_TAGLINE" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.usermanagement" point-id="PreHook" id="doSITE_GINFOPerm">
		<parameter id="ParentMethod" value="doSITE_GINFO" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.usermanagement" point-id="PreHook" id="doSITE_ADDUSERPerm">
		<parameter id="ParentMethod" value="doSITE_ADDUSER" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.usermanagement" point-id="PreHook" id="doSITE_DELUSERPerm">
		<parameter id="ParentMethod" value="doSITE_DELUSER" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.usermanagement" point-id="PreHook" id="doSITE_UNBANPerm">
		<parameter id="ParentMethod" value="doSITE_UNBAN" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.usermanagement" point-id="PreHook" id="doSITE_DEBUGPerm">
		<parameter id="ParentMethod" value="doSITE_DEBUG" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.usermanagement" point-id="PreHook" id="doSITE_GROUPPerm">
		<parameter id="ParentMethod" value="doSITE_GROUP" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.usermanagement" point-id="PreHook" id="doSITE_RENUSERPerm">
		<parameter id="ParentMethod" value="doSITE_RENUSER" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.usermanagement" point-id="PreHook" id="doSITE_BANSPerm">
		<parameter id="ParentMethod" value="doSITE_BANS" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.usermanagement" point-id="PreHook" id="doSITE_TAKEPerm">
		<parameter id="ParentMethod" value="doSITE_TAKE" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.usermanagement" point-id="PreHook" id="doSITE_ADDIPPerm">
		<parameter id="ParentMethod" value="doSITE_ADDIP" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.usermanagement" point-id="PreHook" id="doSITE_USERPerm">
		<parameter id="ParentMethod" value="doSITE_USER" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.usermanagement" point-id="PreHook" id="doSITE_BANPerm">
		<parameter id="ParentMethod" value="doSITE_BAN" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.usermanagement" point-id="PreHook" id="doSITE_CHGRPPerm">
		<parameter id="ParentMethod" value="doSITE_CHGRP" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.usermanagement" point-id="PreHook" id="doSITE_GRPRENPerm">
		<parameter id="ParentMethod" value="doSITE_GRPREN" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.usermanagement" point-id="PreHook" id="doSITE_PASSWDPerm">
		<parameter id="ParentMethod" value="doSITE_PASSWD" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.usermanagement" point-id="PreHook" id="doSITE_SWHOPerm">
		<parameter id="ParentMethod" value="doSITE_SWHO" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>	
</plugin>
