SITE ADDIP {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_ADDIP
perms =gadmin =siteop
help Add a new mask to a user
help.specific ${command} <username> <ident@ip>
}

SITE ADDUSER {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_ADDUSER
perms =gadmin =siteop
help Add a new user
help.specific ${command} <user> <password> [<ident@ip#1> ...]
}

SITE CHANGE {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_CHANGE
perms =gadmin =siteop
help Change parameters for a user
help.specific ${command} <username> <field> <value>
help.specific Valid fields: group, created, ratio, idle_time, credits, tagline
help.specific num_logins # [opt perIP], comment, group_ratio #min #max
help.specific group_slots # [opt leech slots], wkly_allotment, max_sim #dn #up
}

SITE CHGRP {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_CHGRP
perms =siteop
help Change secondary groups for a user
help.specific ${command} <user> <group> [<group> ...]
}

SITE CHPASS {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_CHPASS
perms =gadmin =siteop
help Change password for a user
help.specific ${command} <user> <password>
}

SITE DEBUG {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_DEBUG
perms *
help Allows you to see stacktraces on command errors
}

SITE DELIP {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_DELIP
perms =gadmin =siteop
help Remove a mask from a user
help.specific ${command} <user> <ident@ip> ...
}

SITE DELUSER {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_DELUSER
perms =gadmin =siteop
help Delete a user
help.specific ${command} <user> [reason]
}

SITE GADDUSER {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_GADDUSER
perms =siteop
help Add a new user to the specified group
help.specific ${command} <group> <user> <password> [<ident@ip#1 ..]
}

SITE GINFO {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_GINFO
perms =gadmin =siteop
help Show information on a group
help.specific ${command} <group>
}

SITE GIVE {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_GIVE
perms =siteop
help Give a user credits
help.specific ${command} <user> <bytes>
}

SITE GROUP {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_GROUP
perms =siteop
help Change parameters for a group
help.specific ${command} <group> <field> <value>
help.specific Valid fields: ratio, num_logins # [opt perIP], max_sim #dn #up
}

SITE GROUPS {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_GROUPS
perms =siteop
help Lists the groups on the site
}

SITE GRPREN {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_GRPREN
perms =siteop
help Rename a group
help.specific ${command} <oldgroup> <newgroup>
}

SITE KICK {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_KICK
perms =siteop
help Kick a users current connections to the site
help.specific ${command} <user> [message]
}

SITE KICKALL {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_KICKALL
perms =siteop
help Kick all users current connections to the site
help.specific ${command} [message]
}

SITE KILL {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_KILL
perms =siteop
help Kill's a specific connection from the FTP by thread ID
help.specific ${command} <threadID> [message]
}

SITE PASSWD {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_PASSWD
perms *
help Change your password
help.specific ${command} <password>
}

SITE PURGE {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_PURGE
perms =gadmin =siteop
help Permanently remove a user from the site
help.specific ${command} <username>
}

SITE DELPURGE {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_DELPURGE
perms =gadmin =siteop
help Permanently remove a user from the site
help.specific ${command} <username>
}

SITE READD {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_READD
perms =gadmin =siteop
help Readd a deleted user
help.specific ${command} <user>
}

SITE RENUSER {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_RENUSER
perms =siteop
help Rename a user
help.specific ${command} <old_username> <new_username>
}

SITE SEEN {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_SEEN
perms *
help Show when a user last connected
help.specific ${command} <user>
}

SITE TAGLINE {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_TAGLINE
perms *
help Change your tagline
help.specific ${command} <tagline>
}

SITE SWAP {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_SWAP
perms =siteop
help Swap Credits Between Users
help.specific ${command} <srcuser> <destuser> <bytes>
}

SITE TAKE {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_TAKE
perms =siteop
help Remove credits from a user
help.specific ${command} <user> <bytes>
}

SITE USER {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_USER
perms =gadmin =siteop
help Show details for a user
help.specific ${command} <user>
}

SITE USERS {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_USERS
perms =siteop
help List all usernames added to the site
}

SITE WHO {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_WHO
perms =siteop
help Show who's online
}

SITE SWHO {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_SWHO
perms =siteop
help Show who's online
}

SITE BAN {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_BAN
perms =ban =siteop
help Ban a user from logging onto the site for a specified amount of time.
help.specific ${command} <user> <minutes> [reason]
}

SITE BANALL {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_BANALL
perms =ban =siteop
help Ban all users from logging onto the site for a specified amount of time.
help.specific ${command} <minutes> [reason]
}

SITE UNBAN {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_UNBAN
perms =ban =siteop
help Removes a ban for the specified user.
help.specific ${command} <user>
}

SITE UNBANALL {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_UNBANALL
perms =ban =siteop
help Removes ban from all users.
help.specific ${command}
}

SITE BANS {
plugin org.drftpd.commands.usermanagement
class UserManagementHandler
method doSITE_BANS
perms =ban =siteop
help List the current users banned on the site.
}
