<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.drftpd.protocol.slave.def" version="3.4.3">
	<doc>
		<doc-text>(Required) - This provides the slave protocol definitions.</doc-text>
	</doc>

	<attributes>
		<attribute id="ProtocolName" value="BasicProtocol"/>
		<attribute id="DefaultBuild" value="true" />
		<attribute id="MustBuild" value="true" />
		<attribute id="ImplicitDependencies">
			<attribute id="Dependency1" value="org.drftpd.protocol.master.def" />
		</attribute>
	</attributes>
	
	<requires>
		<import plugin-id="slave" />
	</requires>
	<runtime>
		<library id="org.drftpd.protocol.slave.def" path="classes/" type="code" />
		<library id="wrapper" path="../../../lib/wrapper.jar" type="code" />
	</runtime>

	<extension plugin-id="slave" point-id="Handler" id="RemergeHandler">
		<parameter id="Name" value="remerge" />
		<parameter id="Class" value="org.drftpd.protocol.slave.def.BasicHandler" />
		<parameter id="Method" value="handleRemerge" />
	</extension>

	<extension plugin-id="slave" point-id="Handler" id="RemergePauseHandler">
		<parameter id="Name" value="remergePause" />
		<parameter id="Class" value="org.drftpd.protocol.slave.def.BasicHandler" />
		<parameter id="Method" value="handleRemergePause" />
	</extension>

	<extension plugin-id="slave" point-id="Handler" id="RemergeResumeHandler">
		<parameter id="Name" value="remergeResume" />
		<parameter id="Class" value="org.drftpd.protocol.slave.def.BasicHandler" />
		<parameter id="Method" value="handleRemergeResume" />
	</extension>

	<extension plugin-id="slave" point-id="Handler" id="ChecksumHandler">
		<parameter id="Name" value="checksum" />
		<parameter id="Class" value="org.drftpd.protocol.slave.def.BasicHandler" />
		<parameter id="Method" value="handleChecksum" />
	</extension>		
	
	<extension plugin-id="slave" point-id="Handler" id="ConnectHandler">
		<parameter id="Name" value="connect" />
		<parameter id="Class" value="org.drftpd.protocol.slave.def.BasicHandler" />
		<parameter id="Method" value="handleConnect" />
	</extension>
	
	<extension plugin-id="slave" point-id="Handler" id="DeleteHandler">
		<parameter id="Name" value="delete" />
		<parameter id="Class" value="org.drftpd.protocol.slave.def.BasicHandler" />
		<parameter id="Method" value="handleDelete" />
	</extension>

	<extension plugin-id="slave" point-id="Handler" id="ListenHandler">
		<parameter id="Name" value="listen" />
		<parameter id="Class" value="org.drftpd.protocol.slave.def.BasicHandler" />
		<parameter id="Method" value="handleListen" />
	</extension>

	<extension plugin-id="slave" point-id="Handler" id="MaxpathHandler">
		<parameter id="Name" value="maxpath" />
		<parameter id="Class" value="org.drftpd.protocol.slave.def.BasicHandler" />
		<parameter id="Method" value="handleMaxpath" />
	</extension>
	
	<extension plugin-id="slave" point-id="Handler" id="PingHandler">
		<parameter id="Name" value="ping" />
		<parameter id="Class" value="org.drftpd.protocol.slave.def.BasicHandler" />
		<parameter id="Method" value="handlePing" />
	</extension>

	<extension plugin-id="slave" point-id="Handler" id="ReceiveHandler">
		<parameter id="Name" value="receive" />
		<parameter id="Class" value="org.drftpd.protocol.slave.def.BasicHandler" />
		<parameter id="Method" value="handleReceive" />
	</extension>

	<extension plugin-id="slave" point-id="Handler" id="RenameHandler">
		<parameter id="Name" value="rename" />
		<parameter id="Class" value="org.drftpd.protocol.slave.def.BasicHandler" />
		<parameter id="Method" value="handleRename" />
	</extension>
		
	<extension plugin-id="slave" point-id="Handler" id="SendHandler">
		<parameter id="Name" value="send" />
		<parameter id="Class" value="org.drftpd.protocol.slave.def.BasicHandler" />
		<parameter id="Method" value="handleSend" />
	</extension>
	
	<extension plugin-id="slave" point-id="Handler" id="AbortHandler">
		<parameter id="Name" value="abort" />
		<parameter id="Class" value="org.drftpd.protocol.slave.def.BasicHandler" />
		<parameter id="Method" value="handleAbort" />
	</extension>
	
	<extension plugin-id="slave" point-id="Handler" id="ShutdownHandler">
		<parameter id="Name" value="shutdown" />
		<parameter id="Class" value="org.drftpd.protocol.slave.def.BasicHandler" />
		<parameter id="Method" value="handleShutdown" />
	</extension>
	
	<extension plugin-id="slave" point-id="Handler" id="CheckSSLHandler">
		<parameter id="Name" value="checkSSL" />
		<parameter id="Class" value="org.drftpd.protocol.slave.def.BasicHandler" />
		<parameter id="Method" value="handleSSLCheck" />
	</extension>
</plugin>