##########################################################
## Default User Settings, used when creating a new user ##
##########################################################

# Ratio
# Default: 3.0
# ratio=3.0

# Maximum logins
# Default: 2
# max_logins=2

# Maximum logins per IP
# Default: 2
# max_logins_ip=2

# Maximum uploads
# Default: 2
# max_uploads=2

# Maximum downloads
# Default: 2
# max_downloads=2

# Idle time
# Default: 300
# idle_time=300

# Weekly allotment (0 = disabled)
# Default: 0
# wkly_allotment=0

# Credits
# Default: 0b
# credits=0b

# Tag line
# Default: No tagline set.
tagline=No tagline set.

# Group
# Default: NoGroup
# group=NoGroup
