##################################
## Encrypted Bean User Settings ##
####################################################################################################
#                                                                                                  #
# Encrypt User Passwords In json File.                                                             #
#                                                                                                  #
# Valid Options: md2, md5, sha-1, sha-256, sha-384, sha-512, bcrypt, glftpd, argon2                #
#                none, clear, empty = No encryption                                                #
#                                                                                                  #
####################################################################################################

# Default: [bcrypt]
passcrypt=bcrypt

