######################################
## SlaveSelection Job Down Settings ##
####################################################################################################

1.filter=maxtransfers
1.maxtransfers=2

2.filter=maxbandwidth
2.maxbandwidth=1000kb

3.filter=bandwidth
3.multiplier=1

4.filter=cycle

# MaxtransfersPerslave (This will allow 10 transfers on slave1 and 5 on slave2).
#.filter=MaxtransfersPerslave
#.assign=slave1+10 slave2+5
#.match=^/section/.*$
#.negate.expression=false

