<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.drftpd.protocol.speedtest.net.slave" version="3.4.3">
	<attributes>
		<attribute id="ProtocolName" value="SpeedTestProtocol"/>
		<attribute id="ImplicitDependencies">
			<attribute id="Dependency1" value="org.drftpd.commands.speedtest.net" />
		</attribute>
	</attributes>
	
	<requires>
		<import plugin-id="org.drftpd.protocol.speedtest.net.common" />
		<import plugin-id="slave" reverse-lookup="true" />
	</requires>
	<runtime>
		<library id="org.drftpd.protocol.speedtest.net.slave" path="classes/" type="code">
		</library>
		<library id="httpclient" path="../../../lib/httpclient-4.5.9.jar" type="code">
		</library>
		<library id="httpcore" path="../../../lib/httpcore-4.4.12.jar" type="code">
		</library>
	</runtime>
			
	<extension plugin-id="slave" point-id="Handler" id="SpeedTestHandler">
		<parameter id="Name" value="speedtest" />
		<parameter id="Class" value="org.drftpd.protocol.speedtest.net.slave.SpeedTestHandler" />
		<parameter id="Method" value="handleSpeedTest" />
	</extension>
</plugin>
