############################
## SpeedTest.net Settings ##
####################################################################################################

# Valid options: K(km), N(nautical mile), M(mile).
# Default: [K]
distance.unit=K

