<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.drftpd.plugins.sitebot" version="3.4.3">
	<doc>
		<doc-text>This plugin provides IRC Sitebot capability.
(SITE INVITE/BLOWFISH/GETKEY/SETBLOWFISH/SETKEY/IRC</doc-text>
	</doc>

	<requires>
		<import plugin-id="master" exported="true" reverse-lookup="true" />
		<import plugin-id="org.drftpd.commandmanager" exported="true" />
	</requires>
	<runtime>
		<library id="org.drftpd.plugins.sitebot" path="classes/" type="code">
			<export prefix="*" />
		</library>
	</runtime>
	<extension-point id="PreHook" parent-plugin-id="org.drftpd.commandmanager" parent-point-id="CommandPreHook" />
	<extension-point id="PostHook" parent-plugin-id="org.drftpd.commandmanager" parent-point-id="CommandPostHook" />
	<extension-point id="Announce">
		<parameter-def id="Class" type="string" />
	</extension-point>
	
	<extension-point id="Listener">
		<parameter-def id="Class" type="string" />
	</extension-point>

	<extension plugin-id="master" point-id="Plugin" id="Sitebot">
		<parameter id="Class" value="org.drftpd.plugins.sitebot.SiteBotWrapper"/>
	</extension>
	<extension plugin-id="org.drftpd.commandmanager" point-id="Command" id="SiteBotHandler" />

	<extension plugin-id="org.drftpd.plugins.sitebot" point-id="PreHook" id="doSITE_INVITEPerm">
		<parameter id="ParentMethod" value="doSITE_INVITE" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.plugins.sitebot" point-id="PreHook" id="doSITE_BLOWFISHPerm">
		<parameter id="ParentMethod" value="doSITE_BLOWFISH" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.plugins.sitebot" point-id="PreHook" id="doSITE_SETBLOWFISHPerm">
		<parameter id="ParentMethod" value="doSITE_SETBLOWFISH" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.plugins.sitebot" point-id="PreHook" id="doSITE_IRCPerm">
		<parameter id="ParentMethod" value="doSITE_IRC" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
</plugin>