<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.drftpd.plugins.sitebot.announce.zipscript" version="3.4.3">
	<doc>
		<doc-text>(Sitebot) - This plugin provides Zipscript (.sfv) announcements for Sitebot</doc-text>
	</doc>

	<requires>
		<import plugin-id="org.drftpd.commands.zipscript" />
		<import plugin-id="org.drftpd.plugins.sitebot" />
	</requires>
	<runtime>
		<library id="org.drftpd.plugins.sitebot.announce.zipscript" path="classes/" type="code" />
	</runtime>
	<extension plugin-id="org.drftpd.plugins.sitebot" point-id="Announce" id="SFVAnnounce">
		<parameter id="Class" value="org.drftpd.plugins.sitebot.announce.zipscript.SFVAnnouncer" />
	</extension>
</plugin>