# $Id$
SITE REBUILDINDEX {
plugin org.drftpd.commands.indexmanager
class IndexManager
method doRebuildIndex
perms =siteop
}

SITE INDEXSTATUS {
plugin org.drftpd.commands.indexmanager
class IndexManager
method doIndexStatus
perms =siteop
}