<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.drftpd.commands.dataconnection" version="3.4.3">
	<doc>
		<doc-text>(Required) - This plugin provides Data Connection commands.   
(AUTH/CPSV/PROT/PBSZ/MODE/PASV/PORT/PRET/SSCN/SYST/TYPE/RETR/REST/STOR)</doc-text>
	</doc>
	<attributes>
		<attribute id="DefaultBuild" value="true" />
		<attribute id="MustBuild" value="true" />
	</attributes>
	<requires>
		<import plugin-id="org.drftpd.commandmanager" exported="true" />
		<import plugin-id="org.drftpd.commands.prehook.permissions" exported="true" />
	</requires>
	<runtime>
		<library id="org.drftpd.commands.dataconnection" path="classes/" type="code">
			<export prefix="*" />
		</library>
	</runtime>
	<extension-point id="PreHook" parent-plugin-id="org.drftpd.commandmanager" parent-point-id="CommandPreHook" />
	<extension-point id="PostHook" parent-plugin-id="org.drftpd.commandmanager" parent-point-id="CommandPostHook" />

	<extension plugin-id="org.drftpd.commandmanager" point-id="Command" id="DataConnectionHandler" />
	<extension plugin-id="org.drftpd.commands.dataconnection" point-id="PreHook" id="doPRETPerm">
		<parameter id="ParentMethod" value="doPRET" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.dataconnection" point-id="PreHook" id="doPORTPerm">
		<parameter id="ParentMethod" value="doPORT" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.dataconnection" point-id="PreHook" id="doRESTPerm">
		<parameter id="ParentMethod" value="doREST" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.dataconnection" point-id="PreHook" id="doPASVandCPSVPerm">
		<parameter id="ParentMethod" value="doPASVandCPSV" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.dataconnection" point-id="PreHook" id="doSSCNPerm">
		<parameter id="ParentMethod" value="doSSCN" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.dataconnection" point-id="PreHook" id="doMODEPerm">
		<parameter id="ParentMethod" value="doMODE" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.dataconnection" point-id="PreHook" id="doSITE_XDUPEPerm">
		<parameter id="ParentMethod" value="doSITE_XDUPE" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.dataconnection" point-id="PreHook" id="doSYSTPerm">
		<parameter id="ParentMethod" value="doSYST" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.dataconnection" point-id="PreHook" id="doRETRPerm">
		<parameter id="ParentMethod" value="doRETR" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.dataconnection" point-id="PreHook" id="doSTORPerm">
		<parameter id="ParentMethod" value="doSTOR" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.dataconnection" point-id="PreHook" id="doTYPEPerm">
		<parameter id="ParentMethod" value="doTYPE" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.dataconnection" point-id="PostHook" id="doSTORTransferEvent">
		<parameter id="ParentMethod" value="doSTOR" />
		<parameter id="HookClass" value="org.drftpd.commands.dataconnection.hooks.DataConnectionPostHooks" />
		<parameter id="HookMethod" value="doTransferEvent" />
		<parameter id="Priority" value="9999999" />
	</extension>
	<extension plugin-id="org.drftpd.commands.dataconnection" point-id="PostHook" id="doRETRTransferEvent">
		<parameter id="ParentMethod" value="doRETR" />
		<parameter id="HookClass" value="org.drftpd.commands.dataconnection.hooks.DataConnectionPostHooks" />
		<parameter id="HookMethod" value="doTransferEvent" />
		<parameter id="Priority" value="9999999" />
	</extension>
</plugin>
