<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.drftpd.commands.imdb" version="3.4.3">
	<doc>
		<doc-text>This plugin provides IRC/FTP commands for listing/creating/removing movie information from imdb.com.
IRC announce on NFO upload and imdb info in directory metadata.</doc-text>
	</doc>
	<attributes>
        <attribute id="DefaultBuild" value="false" />
		<attribute id="MustBuild" value="false" />
	</attributes>
	<requires>
        <import plugin-id="org.drftpd.protocol.imdb.master" exported="true" />
		<import plugin-id="org.drftpd.vfs.index.lucene.extensions.imdb" exported="true" />
		<import plugin-id="org.drftpd.plugins.sitebot" exported="true" />
		<import plugin-id="org.drftpd.commandmanager" exported="true" />
		<import plugin-id="org.drftpd.commands.dataconnection" exported="true" />
        <import plugin-id="org.drftpd.commands.dir" exported="true" />
        <import plugin-id="org.drftpd.commands.list" exported="true" />
	</requires>
	<runtime>
		<library id="org.drftpd.commands.imdb" path="classes/" type="code">
			<export prefix="*" />
		</library>
	</runtime>
	<extension-point id="PreHook" parent-plugin-id="org.drftpd.commandmanager" parent-point-id="CommandPreHook" />
	<extension-point id="PostHook" parent-plugin-id="org.drftpd.commandmanager" parent-point-id="CommandPostHook" />
	
	<!-- Hooks -->
	<extension plugin-id="org.drftpd.commands.imdb" point-id="PreHook" id="doSITE_IMDBPerm">
		<parameter id="ParentMethod" value="doSITE_IMDB" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
    <extension plugin-id="org.drftpd.commands.imdb" point-id="PreHook" id="doSITE_CREATEIMDBPerm">
		<parameter id="ParentMethod" value="doSITE_CREATEIMDB" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
    <extension plugin-id="org.drftpd.commands.imdb" point-id="PreHook" id="doSITE_REMOVEIMDBPerm">
		<parameter id="ParentMethod" value="doSITE_REMOVEIMDB" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.imdb" point-id="PreHook" id="doSITE_IMDBQUEUEPerm">
		<parameter id="ParentMethod" value="doSITE_IMDBQUEUE" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.dataconnection" point-id="PostHook" id="IMDBSTORPostHook">
		<parameter id="ParentMethod" value="doSTOR" />
		<parameter id="HookClass" value="org.drftpd.commands.imdb.IMDBPostHook" />
		<parameter id="HookMethod" value="doSTORPostHook" />
		<parameter id="Priority" value="100" />
	</extension>
    <extension plugin-id="org.drftpd.commands.dir" point-id="PostHook" id="IMDBDELECleanup">
		<parameter id="ParentMethod" value="doDELE" />
		<parameter id="HookClass" value="org.drftpd.commands.imdb.IMDBPostHook" />
		<parameter id="HookMethod" value="doIMDBCleanupHook" />
		<parameter id="Priority" value="10" />
	</extension>
    <extension plugin-id="org.drftpd.commands.dir" point-id="PostHook" id="IMDBWIPECleanup">
		<parameter id="ParentMethod" value="doSITE_WIPE" />
		<parameter id="HookClass" value="org.drftpd.commands.imdb.IMDBPostHook" />
		<parameter id="HookMethod" value="doIMDBCleanupHook" />
		<parameter id="Priority" value="10" />
	</extension>
	<!-- End of Hooks -->

    <extension plugin-id="org.drftpd.commands.list" point-id="AddElements" id="IMDBListElements">
		<parameter id="Class" value="org.drftpd.commands.imdb.list.IMDBList" />
	</extension>
	
	<extension plugin-id="org.drftpd.plugins.sitebot" point-id="Announce" id="IMDBAnnounce">
		<parameter id="Class" value="org.drftpd.commands.imdb.announce.IMDBAnnouncer" />
	</extension>
	
	<extension plugin-id="org.drftpd.commandmanager" point-id="Command" id="IMDBHandler">
	</extension>
</plugin>
