<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<!-- $Id$ -->
<plugin id="master" version="3.0.0" class="org.drftpd.master.Boot">
	<doc>
		<doc-text>This is the main MASTER process to which FTP clients connect.</doc-text>
	</doc>
	<attributes>
		<attribute id="DenyUnload" value="true" />
		<attribute id="DefaultBuild" value="true" />
		<attribute id="MustBuild" value="true" />
	</attributes>
	<requires>
		<import plugin-id="slave" exported="true" />
	</requires>
	<runtime>
		<library id="master" path="classes/" type="code">
			<export prefix="*" />
		</library>
		<library id="replacer" path="../../lib/replacer.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="commons-net" path="../../lib/commons-net-1.4.1.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="eventbus" path="../../lib/eventbus-1.3.jar" type="code">
			<export prefix="*" />
		</library>
	</runtime>
	<extension-point id="UserManager">
		<parameter-def id="Class" type="string" />
	</extension-point>
	<extension-point id="PreUserResetHook">
		<parameter-def id="Class" type="string" />
	</extension-point>
	<extension-point id="PostUserResetHook">
		<parameter-def id="Class" type="string" />
	</extension-point>
	<extension-point id="CommandManager">
		<parameter-def id="Class" type="string" />
	</extension-point>
	<extension-point id="SectionManager">
		<parameter-def id="Class" type="string" />
	</extension-point>
	<extension-point id="Plugin">
		<parameter-def id="Class" type="string" />
	</extension-point>
	<extension-point id="SlaveSelection">
		<parameter-def id="Class" type="string" />
	</extension-point>
	<extension-point id="IndexingEngine">
		<parameter-def id="Class" type="string" />
	</extension-point>
	<extension-point id="ProtocolExtension">
		<parameter-def id="IssuerClass" type="string" />
	</extension-point>
	
	<extension-point id="ConfigHandler">
		<parameter-def id="Class" type="string" />
		<parameter-def id="Method" type="string" />
		<parameter-def id="Directive" type="string" />
	</extension-point>
	<extension-point id="VFSPerm">
	   	<parameter-def id="Class" type="string" />
	   	<parameter-def id="Method" type="string" />
	   	<parameter-def id="Type" type="string" />
	  	<parameter-def id="Directive" type="string" />
	  	<parameter-def id="Priority" type="number" />
	</extension-point>
</plugin>
