<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="master" version="3.4.3" class="org.drftpd.master.Boot">
	<doc>
		<doc-text>(Required) - This is the main MASTER process to which FTP clients connect.</doc-text>
	</doc>
	<attributes>
		<attribute id="DenyUnload" value="true" />
		<attribute id="DefaultBuild" value="true" />
		<attribute id="MustBuild" value="true" />
	</attributes>
	<requires>
		<import plugin-id="slave" exported="true" />
	</requires>
	<runtime>
		<library id="master" path="classes/" type="code">
			<export prefix="*" />
		</library>
		<library id="replacer" path="../../lib/replacer.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="commons-collections4" path="../../lib/commons-collections4-4.4.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="httpclient" path="../../lib/httpclient-4.5.9.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="httpcore" path="../../lib/httpcore-4.4.12.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="eventbus" path="../../lib/eventbus-1.4.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="wrapper" path="../../lib/wrapper.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="json-io" path="../../lib/json-io-4.12.0.jar" type="code">
			<export prefix="*" />
		</library>
	</runtime>
	<extension-point id="UserManager">
		<parameter-def id="Class" type="string" />
	</extension-point>
	<extension-point id="PreUserResetHook">
		<parameter-def id="Class" type="string" />
	</extension-point>
	<extension-point id="PostUserResetHook">
		<parameter-def id="Class" type="string" />
	</extension-point>
	<extension-point id="CommandManager">
		<parameter-def id="Class" type="string" />
	</extension-point>
	<extension-point id="SectionManager">
		<parameter-def id="Class" type="string" />
	</extension-point>
	<extension-point id="Plugin">
		<parameter-def id="Class" type="string" />
	</extension-point>
	<extension-point id="SlaveSelection">
		<parameter-def id="Class" type="string" />
	</extension-point>
	<extension-point id="IndexingEngine">
		<parameter-def id="Class" type="string" />
	</extension-point>
	<extension-point id="ProtocolExtension">
		<parameter-def id="IssuerClass" type="string" />
	</extension-point>
	
	<extension-point id="ConfigHandler">
		<parameter-def id="Class" type="string" />
		<parameter-def id="Method" type="string" />
		<parameter-def id="Directive" type="string" />
	</extension-point>
	<extension-point id="VFSPerm">
	   	<parameter-def id="Class" type="string" />
	   	<parameter-def id="Method" type="string" />
	   	<parameter-def id="Type" type="string" />
	  	<parameter-def id="Directive" type="string" />
	  	<parameter-def id="Priority" type="number" />
	</extension-point>
</plugin>
