<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.drftpd.plugins.sitebot.plugins.sysop" version="3.4.3">
	<doc>
		<doc-text>This plugin output irc messages for sysop related SITE commands.</doc-text>
	</doc>
	<attributes>
		<attribute id="DefaultBuild" value="false" />
		<attribute id="MustBuild" value="false" />
	</attributes>
	<requires>
		<import plugin-id="org.drftpd.commands.usermanagement" />
		<import plugin-id="org.drftpd.commands.login" />
		<import plugin-id="org.drftpd.plugins.sitebot" />
		<import plugin-id="master" exported="true" reverse-lookup="true" />
	</requires>
	<runtime>
		<library id="org.drftpd.plugins.sitebot.plugins.sysop" path="classes/" type="code" />
	</runtime>
	<extension plugin-id="org.drftpd.commands.login" point-id="PostHook" id="SysopLoginPassPostHook">
		<parameter id="ParentMethod" value="doPASS" />
		<parameter id="HookClass" value="org.drftpd.plugins.sitebot.plugins.sysop.SysopPostHook" />
		<parameter id="HookMethod" value="doLOGINPostHook" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.login" point-id="PostHook" id="SysopLoginIdntPostHook">
		<parameter id="ParentMethod" value="doIDNT" />
		<parameter id="HookClass" value="org.drftpd.plugins.sitebot.plugins.sysop.SysopPostHook" />
		<parameter id="HookMethod" value="doLOGINPostHook" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.login" point-id="PostHook" id="SysopLoginUserPostHook">
		<parameter id="ParentMethod" value="doUSER" />
		<parameter id="HookClass" value="org.drftpd.plugins.sitebot.plugins.sysop.SysopPostHook" />
		<parameter id="HookMethod" value="doLOGINPostHook" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.usermanagement" point-id="PostHook" id="SysopSiteAddIpPostHook">
		<parameter id="ParentMethod" value="doSITE_ADDIP" />
		<parameter id="HookClass" value="org.drftpd.plugins.sitebot.plugins.sysop.SysopPostHook" />
		<parameter id="HookMethod" value="doSITEPostHook" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.usermanagement" point-id="PostHook" id="SysopSiteAddUserPostHook">
		<parameter id="ParentMethod" value="doSITE_ADDUSER" />
		<parameter id="HookClass" value="org.drftpd.plugins.sitebot.plugins.sysop.SysopPostHook" />
		<parameter id="HookMethod" value="doSITEPostHook" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.usermanagement" point-id="PostHook" id="SysopSiteBanPostHook">
		<parameter id="ParentMethod" value="doSITE_BAN" />
		<parameter id="HookClass" value="org.drftpd.plugins.sitebot.plugins.sysop.SysopPostHook" />
		<parameter id="HookMethod" value="doSITEPostHook" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.usermanagement" point-id="PostHook" id="SysopSiteChangePostHook">
		<parameter id="ParentMethod" value="doSITE_CHANGE" />
		<parameter id="HookClass" value="org.drftpd.plugins.sitebot.plugins.sysop.SysopPostHook" />
		<parameter id="HookMethod" value="doSITEPostHook" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.usermanagement" point-id="PostHook" id="SysopSiteChgrpPostHook">
		<parameter id="ParentMethod" value="doSITE_CHGRP" />
		<parameter id="HookClass" value="org.drftpd.plugins.sitebot.plugins.sysop.SysopPostHook" />
		<parameter id="HookMethod" value="doSITEPostHook" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.usermanagement" point-id="PostHook" id="SysopSiteChpassPostHook">
		<parameter id="ParentMethod" value="doSITE_CHPASS" />
		<parameter id="HookClass" value="org.drftpd.plugins.sitebot.plugins.sysop.SysopPostHook" />
		<parameter id="HookMethod" value="doSITEPostHook" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.usermanagement" point-id="PostHook" id="SysopSiteDelIpPostHook">
		<parameter id="ParentMethod" value="doSITE_DELIP" />
		<parameter id="HookClass" value="org.drftpd.plugins.sitebot.plugins.sysop.SysopPostHook" />
		<parameter id="HookMethod" value="doSITEPostHook" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.usermanagement" point-id="PostHook" id="SysopSiteDelUserPostHook">
		<parameter id="ParentMethod" value="doSITE_DELUSER" />
		<parameter id="HookClass" value="org.drftpd.plugins.sitebot.plugins.sysop.SysopPostHook" />
		<parameter id="HookMethod" value="doSITEPostHook" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.usermanagement" point-id="PostHook" id="SysopSiteGAddUserPostHook">
		<parameter id="ParentMethod" value="doSITE_GADDUSER" />
		<parameter id="HookClass" value="org.drftpd.plugins.sitebot.plugins.sysop.SysopPostHook" />
		<parameter id="HookMethod" value="doSITEPostHook" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.usermanagement" point-id="PostHook" id="SysopSiteGivePostHook">
		<parameter id="ParentMethod" value="doSITE_GIVE" />
		<parameter id="HookClass" value="org.drftpd.plugins.sitebot.plugins.sysop.SysopPostHook" />
		<parameter id="HookMethod" value="doSITEPostHook" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.usermanagement" point-id="PostHook" id="SysopSiteGrpRenPostHook">
		<parameter id="ParentMethod" value="doSITE_GRPREN" />
		<parameter id="HookClass" value="org.drftpd.plugins.sitebot.plugins.sysop.SysopPostHook" />
		<parameter id="HookMethod" value="doSITEPostHook" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.usermanagement" point-id="PostHook" id="SysopSiteKickPostHook">
		<parameter id="ParentMethod" value="doSITE_KICK" />
		<parameter id="HookClass" value="org.drftpd.plugins.sitebot.plugins.sysop.SysopPostHook" />
		<parameter id="HookMethod" value="doSITEPostHook" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.usermanagement" point-id="PostHook" id="SysopSitePassWdPostHook">
		<parameter id="ParentMethod" value="doSITE_PASSWD" />
		<parameter id="HookClass" value="org.drftpd.plugins.sitebot.plugins.sysop.SysopPostHook" />
		<parameter id="HookMethod" value="doSITEPostHook" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.usermanagement" point-id="PostHook" id="SysopSitePurgePostHook">
		<parameter id="ParentMethod" value="doSITE_PURGE" />
		<parameter id="HookClass" value="org.drftpd.plugins.sitebot.plugins.sysop.SysopPostHook" />
		<parameter id="HookMethod" value="doSITEPostHook" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.usermanagement" point-id="PostHook" id="SysopSiteReAddPostHook">
		<parameter id="ParentMethod" value="doSITE_READD" />
		<parameter id="HookClass" value="org.drftpd.plugins.sitebot.plugins.sysop.SysopPostHook" />
		<parameter id="HookMethod" value="doSITEPostHook" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.usermanagement" point-id="PostHook" id="SysopSiteRenUserPostHook">
		<parameter id="ParentMethod" value="doSITE_RENUSER" />
		<parameter id="HookClass" value="org.drftpd.plugins.sitebot.plugins.sysop.SysopPostHook" />
		<parameter id="HookMethod" value="doSITEPostHook" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.usermanagement" point-id="PostHook" id="SysopSiteTaglinePostHook">
		<parameter id="ParentMethod" value="doSITE_TAGLINE" />
		<parameter id="HookClass" value="org.drftpd.plugins.sitebot.plugins.sysop.SysopPostHook" />
		<parameter id="HookMethod" value="doSITEPostHook" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.usermanagement" point-id="PostHook" id="SysopSiteTakePostHook">
		<parameter id="ParentMethod" value="doSITE_TAKE" />
		<parameter id="HookClass" value="org.drftpd.plugins.sitebot.plugins.sysop.SysopPostHook" />
		<parameter id="HookMethod" value="doSITEPostHook" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.usermanagement" point-id="PostHook" id="SysopSiteUnBanPostHook">
		<parameter id="ParentMethod" value="doSITE_UNBAN" />
		<parameter id="HookClass" value="org.drftpd.plugins.sitebot.plugins.sysop.SysopPostHook" />
		<parameter id="HookMethod" value="doSITEPostHook" />
		<parameter id="Priority" value="1" />
	</extension>
	
	<extension plugin-id="org.drftpd.plugins.sitebot" point-id="Announce" id="SysopAnnounce">
		<parameter id="Class" value="org.drftpd.plugins.sitebot.plugins.sysop.announce.SysopAnnouncer" />
	</extension>

	<extension plugin-id="master" point-id="Plugin" id="SysopManager">
		<parameter id="Class" value="org.drftpd.plugins.sitebot.plugins.sysop.SysopManager"/>
	</extension>
</plugin>