<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.drftpd.plugins.mirror" version="3.4.3">
	<doc>
		<doc-text>Mirror files to additional slaves on STOR</doc-text>
	</doc>
	<attributes>
		<attribute id="DefaultBuild" value="false" />
		<attribute id="MustBuild" value="false" />
	</attributes>
	<requires>
		<import plugin-id="org.drftpd.commands.dataconnection" exported="true" />
		<import plugin-id="org.drftpd.commandmanager" exported="true" />
		<import plugin-id="org.drftpd.plugins.jobmanager" exported="true" />
	</requires>
	<runtime>
		<library id="org.drftpd.plugins.mirror" path="classes/" type="code">
			<export prefix="*" />
		</library>
	</runtime>

	<extension-point id="PreHook" parent-plugin-id="org.drftpd.commandmanager" parent-point-id="CommandPreHook" />
	<extension-point id="PostHook" parent-plugin-id="org.drftpd.commandmanager" parent-point-id="CommandPostHook" />

	<extension plugin-id="org.drftpd.commandmanager" point-id="Command" id="UnmirrorHandler" />

	<extension plugin-id="org.drftpd.plugins.mirror" point-id="PreHook" id="doSITE_UNMIRRORPerm">
		<parameter id="ParentMethod" value="doSITE_UNMIRROR" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>

	<extension plugin-id="org.drftpd.commands.dataconnection" point-id="PostHook" id="MirrorSTORPostHook">
		<parameter id="ParentMethod" value="doSTOR" />
		<parameter id="HookClass" value="org.drftpd.plugins.mirror.MirrorPostHook" />
		<parameter id="HookMethod" value="doSTORPostHook" />
		<parameter id="Priority" value="10" />
	</extension>
</plugin>
