SITE TV {
plugin org.drftpd.commands.tvmaze
class TvMaze
method doSITE_TV
perms *
help Search for a tv show (-v for verbose output)
help.specific ${command} [-v] <nameofshow> [episodenumber]
}

SITE CREATETV {
plugin org.drftpd.commands.tvmaze
class TvMaze
method doSITE_CREATETV
perms =siteop
help Create TvMaze metadata for all shows below current dir
help.specific ${command} [path]
}

SITE REMOVETV {
plugin org.drftpd.commands.tvmaze
class TvMaze
method doSITE_REMOVETV
perms =siteop
help Remove TvMaze metadata for all shows below current dir
help.specific ${command} [path]
}

SITE TVQUEUE {
plugin org.drftpd.commands.tvmaze
class TvMaze
method doSITE_TVQUEUE
perms =siteop
help Show number of items in the queue to be processed
help.specific ${command}
}