# is displayed as the site tagline on first connection
#login_prompt DrFTPD 2.1-dev http://drftpd.org

# Max number of connections
#max_users <max_unexempted> <max_exempted>
max_users	100	0
exempt =exempt

# FUNCTION       | PATH     | GROUP
# * = only wildcard recognized
# = denotes group, - denotes user

# EXAMPLES
# upload 	* 	=siteop
# download 	* 	-user1
# makedir 	/usercanmakedir/* -user1 -user2 =group1
upload			*	*
download		*	*

makedir			*	*

deleteown		*	*
delete			*	=siteop

renameown		*	*
rename			*	=siteop

privpath 		/hidden_path/*	=siteop

# hide the user that's is inside the given dir.
hideinwho 		/hidden_path/*	*

# Appends the message contained in the file to the
# text that is outputed during CWD.
#msgpath <path> <filename> <flag/=group/-user>
#msgpath /incoming/ ftp-data/incoming.txt

# Choose who can connect and who can't.
# Example:
# allow_connections * => everyone can connect.
# allow_connections =siteop => only users from the siteop group can connect.
allow_connections *

# Accepts only one range of ports
#pasv_ports 50000-60000

# To be used if your master does not report the correct outside ip for
# PASV commands
#pasv_addr 1.1.1.1

# SSL/TLS enforcements.
userrejectsecure        !*
userrejectinsecure      !*
denydiruncrypted        !*
denydatauncrypted       !*

#hide ips in logs?
hide_ips false


################################################################################
# The following will only work if 'org.drftpd.vfs.perms.regex' plugin is enabled
#
#   These are Regex Implementations of user permissions on the site 
#
#   makedirex   - Create Directory Permission
#   uploadex    - Upload Permission
#   downloadex  - Download Permission
#   deleteex    - Delete Permission
#   deleteownex - Delete Own Permission
#   renameex    - Rename Permission
#   renameownex - Rename Own Permission
#   privpathex  - Private Path Permission
#
#	Examples:
#
#	makedirex /SECTION1/* .*(sectionkeyword1|sectionkeyword2).* !*
#	uploadex * .*(sitekeyword1|sitekeyword2).* !*
#
################################################################################