<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.drftpd.plugins.jobmanager" version="3.4.3">
	<doc>
		<doc-text>This plugin provides Job Managing commands.  (Used for behind the scenes functions. ie Archive Plugin)  
(SITE ADDJOB/LISTJOBS/REMOVEJOB/STARTJOBS/STOPJOBS)</doc-text>
	</doc>
	<attributes>
		<attribute id="DenyUnload" value="false" />
		<attribute id="DefaultBuild" value="true" />
		<attribute id="MustBuild" value="false" />
	</attributes>
	<requires>
		<import plugin-id="master" exported="true" reverse-lookup="true" />
		<import plugin-id="org.drftpd.commandmanager" exported="true" />
	</requires>
	<runtime>
		<library id="org.drftpd.plugins.jobmanager" path="classes/" type="code">
			<export prefix="*" />
		</library>
	</runtime>
	<extension-point id="PreHook" parent-plugin-id="org.drftpd.commandmanager" parent-point-id="CommandPreHook" />
	<extension-point id="PostHook" parent-plugin-id="org.drftpd.commandmanager" parent-point-id="CommandPostHook" />

	<extension plugin-id="master" point-id="Plugin" id="JobManager">
		<parameter id="Class" value="org.drftpd.plugins.jobmanager.JobManager"/>
	</extension>
	<extension plugin-id="org.drftpd.commandmanager" point-id="Command" id="JobManagerCommandHandler" />

	<extension plugin-id="org.drftpd.plugins.jobmanager" point-id="PreHook" id="doSITE_ADDJOBPerm">
		<parameter id="ParentMethod" value="doADDJOB" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.plugins.jobmanager" point-id="PreHook" id="doSITE_LISTJOBSPerm">
		<parameter id="ParentMethod" value="doLISTJOBS" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.plugins.jobmanager" point-id="PreHook" id="doSITE_LISTRUNNINGJOBSPerm">
		<parameter id="ParentMethod" value="doLISTRUNNINGJOBS" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.plugins.jobmanager" point-id="PreHook" id="doSITE_REMOVEJOBPerm">
		<parameter id="ParentMethod" value="doREMOVEJOB" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.plugins.jobmanager" point-id="PreHook" id="doSITE_REMOVEJOBSPerm">
		<parameter id="ParentMethod" value="doREMOVEJOBS" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>	
	<extension plugin-id="org.drftpd.plugins.jobmanager" point-id="PreHook" id="doSITE_STARTJOBSPerm">
		<parameter id="ParentMethod" value="doSTARTJOBS" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.plugins.jobmanager" point-id="PreHook" id="doSITE_STOPJOBSPerm">
		<parameter id="ParentMethod" value="doSTOPJOBS" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
</plugin>
