<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.drftpd.protocol.master.def" version="3.4.3">
	<doc>
		<doc-text>(Required) - This provides the master protocol definitions.</doc-text>
	</doc>
	<attributes>
		<attribute id="ProtocolName" value="BasicProtocol"/>
		<attribute id="DefaultBuild" value="true" />
		<attribute id="MustBuild" value="true" />
		<attribute id="ImplicitDependencies">
			<attribute id="Dependency1" value="org.drftpd.protocol.slave.def" />
		</attribute>
	</attributes>
	
	<requires>
		<import plugin-id="master" exported="true" reverse-lookup="true"/>
	</requires>
	<runtime>
		<library id="org.drftpd.protocol.master.def" path="classes/" type="code" />
	</runtime>

	<extension plugin-id="master" point-id="ProtocolExtension" id="BasicProtocol">
		<parameter id="IssuerClass" value="org.drftpd.protocol.master.def.BasicIssuer" />
	</extension>
</plugin>