<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="common" version="3.4.3">
	<doc>
		<doc-text>(Required) - These are the common resources between the master and slave.</doc-text>
	</doc>	
	<attributes>
		<attribute id="DenyUnload" value="true" />
		<attribute id="DefaultBuild" value="true" />
		<attribute id="MustBuild" value="true" />
		<attribute id="Native">
			<attribute id="Native1" value="lib/libwrapper-linux-x86-32.so">
				<attribute id="Executable" value="false" />
			</attribute>
			<attribute id="Native2" value="lib/libwrapper-linux-x86-64.so">
				<attribute id="Executable" value="false" />
			</attribute>
			<attribute id="Native3" value="lib/libwrapper-freebsd-x86-32.so">
				<attribute id="Executable" value="false" />
			</attribute>
			<attribute id="Native4" value="lib/libwrapper-freebsd-x86-64.so">
				<attribute id="Executable" value="false" />
			</attribute>
			<attribute id="Native5" value="lib/libwrapper-macosx-universal-32.jnilib">
				<attribute id="Executable" value="false" />
			</attribute>
			<attribute id="Native6" value="lib/libwrapper-macosx-universal-64.jnilib">
				<attribute id="Executable" value="false" />
			</attribute>
			<attribute id="Native7" value="lib/libwrapper-solaris-x86-32.so">
				<attribute id="Executable" value="false" />
			</attribute>
			<attribute id="Native8" value="lib/libwrapper-solaris-x86-64.so">
				<attribute id="Executable" value="false" />
			</attribute>
			<attribute id="Native9" value="lib/wrapper-windows-x86-32.dll">
				<attribute id="Executable" value="false" />
			</attribute>
			<attribute id="Native11" value="lib/wrapper.jar">
				<attribute id="Executable" value="false" />
			</attribute>
			<attribute id="Native12" value="bin/wrapper-linux-x86-32">
				<attribute id="Executable" value="true" />
			</attribute>
			<attribute id="Native13" value="bin/wrapper-linux-x86-64">
				<attribute id="Executable" value="true" />
			</attribute>
			<attribute id="Native14" value="bin/wrapper-freebsd-x86-32">
				<attribute id="Executable" value="true" />
			</attribute>
			<attribute id="Native15" value="bin/wrapper-freebsd-x86-64">
				<attribute id="Executable" value="true" />
			</attribute>
			<attribute id="Native16" value="bin/wrapper-macosx-universal-32">
				<attribute id="Executable" value="true" />
			</attribute>
			<attribute id="Native17" value="bin/wrapper-macosx-universal-64">
				<attribute id="Executable" value="true" />
			</attribute>
			<attribute id="Native18" value="bin/wrapper-solaris-x86-32">
				<attribute id="Executable" value="true" />
			</attribute>
			<attribute id="Native19" value="bin/wrapper-solaris-x86-64">
				<attribute id="Executable" value="true" />
			</attribute>
			<attribute id="Native20" value="bin/wrapper-windows-x86-32.exe">
				<attribute id="Executable" value="true" />
			</attribute>
		</attribute>
	</attributes>
	<runtime>
		<library id="common" path="classes/" type="code">
			<export prefix="*" />
		</library>
		<library id="commons-logging" path="../../lib/commons-logging-1.2.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="junit" path="../../lib/junit-4.13.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="log4j-api" path="../../lib/log4j-api-2.13.1.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="log4j-core" path="../../lib/log4j-core-2.13.1.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="log4j-jcl" path="../../lib/log4j-jcl-2.13.1.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="jpf" path="../../lib/jpf-1.5.1.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="jpf-boot" path="../../lib/jpf-boot-1.5.1.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="drftpd-jpf" path="../../lib/drftpd-jpf-3.4.3.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="commons-lang3" path="../../lib/commons-lang3-3.9.jar" type="code">
			<export prefix="*" />
		</library>
		<library id="commons-text" path="../../lib/commons-text-1.8.jar" type="code">
			<export prefix="*" />
		</library>
	</runtime>
</plugin>
