<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.drftpd.commands.usermanagement.notes" version="3.4.3">
	<doc>
		<doc-text>This plugin provides the ability to add notes to users</doc-text>
	</doc>
	<requires>
		<import plugin-id="org.drftpd.commandmanager" exported="true" />
		<import plugin-id="org.drftpd.commands.prehook.permissions" exported="true" />
		<import plugin-id="org.drftpd.commands.usermanagement" exported="true" />
		<import plugin-id="org.drftpd.commands.usermanagement.notes.metadata" exported="true" />
	</requires>
	<runtime>
		<library id="org.drftpd.commands.usermanagement.notes" path="classes/" type="code">
			<export prefix="*" />
		</library>
	</runtime>
	<extension-point id="PreHook" parent-plugin-id="org.drftpd.commandmanager" parent-point-id="CommandPreHook" />
	<extension-point id="PostHook" parent-plugin-id="org.drftpd.commandmanager" parent-point-id="CommandPostHook" />

	<extension plugin-id="org.drftpd.commandmanager" point-id="Command" id="NotesHandler" />

	<extension plugin-id="org.drftpd.commands.usermanagement.notes" point-id="PreHook" id="doSITE_ADDNOTEPerm">
		<parameter id="ParentMethod" value="doSITE_ADDNOTE" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>
	<extension plugin-id="org.drftpd.commands.usermanagement.notes" point-id="PreHook" id="doSITE_DELNOTEPerm">
		<parameter id="ParentMethod" value="doSITE_DELNOTE" />
		<parameter id="HookClass" value="org.drftpd.commands.prehook.permissions.PermissionPreHook" />
		<parameter id="HookMethod" value="doPermissionCheck" />
		<parameter id="Priority" value="1" />
	</extension>

	<extension plugin-id="org.drftpd.commands.usermanagement" point-id="PostHook" id="NOTESPostHook">
		<parameter id="ParentMethod" value="doSITE_USER" />
		<parameter id="HookClass" value="org.drftpd.commands.usermanagement.notes.NotesPostHook" />
		<parameter id="HookMethod" value="doNotesPostHook" />
		<parameter id="Priority" value="1000" />
	</extension>
</plugin>