<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.drftpd.sections.def" version="3.4.3">
	<doc>
		<doc-text>(Required) - This provides the default sections definitions.</doc-text>
	</doc>
	<attributes>
		<attribute id="DenyUnload" value="true" />
		<attribute id="DefaultBuild" value="true" />
		<attribute id="MustBuild" value="true" />
	</attributes>
	<requires>
		<import plugin-id="master"/>
	</requires>
	<runtime>
		<library id="org.drftpd.sections.def" path="classes/" type="code" />
	</runtime>
	<extension plugin-id="master" point-id="SectionManager" id="DefaultSectionManager">
		<parameter id="Class" value="org.drftpd.sections.def.SectionManager"/>
	</extension>
</plugin>