<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.drftpd.plugins.sitebot.announce.trafficmanager.def" version="3.4.3">
	<doc>
		<doc-text>(Sitebot) - This plugin provides TrafficManager (Default Type) announcements for Sitebot</doc-text>
	</doc>

	<requires>
		<import plugin-id="org.drftpd.plugins.trafficmanager" />
		<import plugin-id="org.drftpd.plugins.sitebot" />
	</requires>
	<runtime>
		<library id="org.drftpd.plugins.sitebot.announce.trafficmanager.def" path="classes/" type="code" />
	</runtime>
	<extension plugin-id="org.drftpd.plugins.sitebot" point-id="Announce" id="TrafficManagerAnnounce">
		<parameter id="Class" value="org.drftpd.plugins.sitebot.announce.trafficmanager.def.TrafficDefaultAnnouncer" />
	</extension>
</plugin>
