<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<!-- $Id$ -->
<plugin id="org.drftpd.commands.zipscript.links" version="3.0.0">
	<doc>
		<doc-text>(Zipscript) - This plugin provides sfv links for new uploads, as well as the SITE FIXLINKS command</doc-text>
	</doc>
	
	<requires>
		<import plugin-id="org.drftpd.commandmanager" exported="true" />
		<import plugin-id="org.drftpd.commands.dataconnection" exported="true" />
		<import plugin-id="org.drftpd.commands.dir" exported="true" />
		<import plugin-id="org.drftpd.commands.zipscript" exported="true" />
	</requires>
	<runtime>
		<library id="org.drftpd.commands.zipscript.links" path="classes/" type="code">
			<export prefix="*" />
		</library>
	</runtime>
	<extension-point id="PreHook" parent-plugin-id="org.drftpd.commandmanager" parent-point-id="CommandPreHook" />
	<extension-point id="PostHook" parent-plugin-id="org.drftpd.commandmanager" parent-point-id="CommandPostHook" />

	<extension-point id="FixLinksProcessDir">
		<parameter-def id="Class" type="string" />
	</extension-point>

	<extension plugin-id="org.drftpd.commands.dataconnection" point-id="PostHook" id="LinksSTORIncomplete">
		<parameter id="ParentMethod" value="doSTOR" />
		<parameter id="HookClass" value="org.drftpd.commands.zipscript.links.hooks.LinksPostHook" />
		<parameter id="HookMethod" value="doLinksSTORIncompleteHook" />
		<parameter id="Priority" value="12" />
	</extension>
	<extension plugin-id="org.drftpd.commands.dir" point-id="PostHook" id="LinksDELEIncomplete">
		<parameter id="ParentMethod" value="doDELE" />
		<parameter id="HookClass" value="org.drftpd.commands.zipscript.links.hooks.LinksPostHook" />
		<parameter id="HookMethod" value="doLinksDELECleanupHook" />
		<parameter id="Priority" value="10" />
	</extension>
	<extension plugin-id="org.drftpd.commands.dir" point-id="PostHook" id="LinksWIPEIncomplete">
		<parameter id="ParentMethod" value="doSITE_WIPE" />
		<parameter id="HookClass" value="org.drftpd.commands.zipscript.links.hooks.LinksPostHook" />
		<parameter id="HookMethod" value="doLinksWIPECleanupHook" />
		<parameter id="Priority" value="10" />
	</extension>
	<extension plugin-id="org.drftpd.commandmanager" point-id="Command" id="LinkCommandsHandler" />
	<extension plugin-id="org.drftpd.commands.zipscript" point-id="RescanPostProcessDir" id="RescanPostProcessLinks">
		<parameter id="Class" value="org.drftpd.commands.zipscript.links.RescanPostProcessLinks" />
	</extension>
</plugin>
