name: Build and push Docker images

on:
  push:
    tags:
      - 4.*
#  github.ref_name is used for tagging the image, consider this if/when dispatching workflow manually
#  workflow_dispatch:
  
jobs:

  docker:

    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout drftpd
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.1.7
        with:
          path: 'drftpd-source'

      - name: Checkout mkvalidator
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.1.7
        with:
          repository: 'Matroska-Org/foundation-source'
          ref: '8221e51b2e43e077dfa06d7dab6f1cf5a5fb15bf'
          path: 'foundation-source'

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3.10.0

#       For logging in to Docker Hub, configure secrets accordingly
#      - name: Login to Docker Hub
#        if: github.event_name != 'pull_request'
#        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
#        with:
#          registry: docker.io
#          username: ${{ env.DOCKERHUB_USERNAME }}
#          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GitHub Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          file: 'drftpd-source/Dockerfile'
          platforms: linux/amd64
          push: false
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Push master
        if: github.event_name != 'pull_request'
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          file: 'drftpd-source/Dockerfile'
          platforms: linux/amd64
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          target: drftpd-master
          tags: |
            ghcr.io/${{ github.actor }}/drftpd:master-latest
            ghcr.io/${{ github.actor }}/drftpd:master-${{ github.ref_name }}
#            tags for pushing to Docker Hub
#            docker.io/${{ env.DOCKERHUB_USERNAME }}/drftpd:master-latest
#            docker.io/${{ env.DOCKERHUB_USERNAME }}/drftpd:master-${{ github.ref_name }}

      - name: Push slave
        if: github.event_name != 'pull_request'
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          file: 'drftpd-source/Dockerfile'
          platforms: linux/amd64
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          target: drftpd-slave
          tags: |
            ghcr.io/${{ github.actor }}/drftpd:slave-latest
            ghcr.io/${{ github.actor }}/drftpd:slave-${{ github.ref_name }}
#            tags for pushing to Docker Hub
#            docker.io/${{ env.DOCKERHUB_USERNAME }}/drftpd:slave-latest
#            docker.io/${{ env.DOCKERHUB_USERNAME }}/drftpd:slave-${{ github.ref_name }}
