plugins {
plugin org.drftpd.commands.sitemanagement
class SiteManagementHandler
method doSITE_PLUGINS
perms =siteop
help Will show plugins registered with the master and their status
input all
output source
}

reload {
plugin org.drftpd.commands.sitemanagement
class SiteManagementHandler
method doSITE_RELOAD
perms =siteop
help Reload the config files
help.specific ${command}
help.specific Reload the config files
input all
output source
}

shutdown {
plugin org.drftpd.commands.sitemanagement
class SiteManagementHandler
method doSITE_SHUTDOWN
perms =siteop
help Shutdown the ftp server
help.specific ${command}
help.specific Shutdown the ftp server
input all
output source
}

loadplugin {
plugin org.drftpd.commands.sitemanagement
class SiteManagementHandler
method doSITE_LOADPLUGIN
perms =siteop
help Load a plugin
help.specific ${command} <PLUGIN>
help.specific Load a plugin
help.specific <PLUGIN> - the full name of the plugin to be loaded
input all
output source
}

unloadplugin {
plugin org.drftpd.commands.sitemanagement
class SiteManagementHandler
method doSITE_UNLOADPLUGIN
perms =siteop
help Unload a plugin
help.specific ${command} <PLUGIN>
help.specific Unload a plugin
help.specific <PLUGIN> - the full name of the plugin to be unloaded
input all
output source
}

reloadplugin {
plugin org.drftpd.commands.sitemanagement
class SiteManagementHandler
method doSITE_RELOADPLUGIN
perms =siteop
help Reload a plugin
help.specific ${command} <PLUGIN>
help.specific Unload a plugin, load the plugin again and reload all configs
help.specific <PLUGIN> - the full name of the plugin to be reloaded
input all
output source
}
