listrunningjobs {
plugin org.drftpd.plugins.jobmanager
class JobManagerCommandHandler
method doLISTRUNNINGJOBS
perms =siteop
help List the current jobs queued by the JobManager.
help.specific List the current jobs queued by the JobManager by index
input public
output source
}